In [1]:
✅Veri toplama: Kredi başvuru formlarından verilerin toplanması gerekir. Bu veriler, kişisel bilgiler (yaş, cinsiyet, eğitim, iş, gelir vb.), kredi geçmişi (örneğin, geçmiş kredi ödemeleri, açık krediler, borçlar vb.) ve diğer önemli faktörleri (örneğin, ev sahipliği, araba sahipliği, evli mi vb.) içerebilir.

✅Veri temizleme: Toplanan verilerin doğruluğunu ve tamamını kontrol etmek gerekir. Eksik veriler tamamlanmalı veya veri setinden çıkarılmalıdır.

✅Veri ön işleme: Veri setindeki verilerin sayısal verilere dönüştürülmesi gerekir. Bu, etiketlenmemiş verileri sınıflandırma modelleri tarafından kullanılabilir hale getirecektir.

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats

# Data

In [2]:
df_original_train = pd.read_csv('datasets/train.csv',low_memory=False)
df_original_test = pd.read_csv('datasets/test.csv')

### Understanding Data

In [3]:
df_train = df_original_train.copy()
df_train.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [4]:
df_test = df_original_test.copy()
df_test.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923

In [5]:
df_train.describe().T

,count,mean,std,min,25%,50%,75%,max
Monthly_Inhand_Salary,84998.0,4194.170850,3183.686167,303.645417,1625.568229,3093.745000,5957.448333,15204.633333
Num_Bank_Accounts,100000.0,17.091280,117.404834,-1.000000,3.000000,6.000000,7.000000,1798.000000
Num_Credit_Card,100000.0,22.474430,129.057410,0.000000,4.000000,5.000000,7.000000,1499.000000
Interest_Rate,100000.0,72.466040,466.422621,1.000000,8.000000,13.000000,20.000000,5797.000000
Delay_from_due_date,100000.0,21.068780,14.860104,-5.000000,10.000000,18.000000,28.000000,67.000000
Num_Credit_Inquiries,98035.0,27.754251,193.177339,0.000000,3.000000,6.000000,9.000000,2597.000000
Credit_Utilization_Ratio,100000.0,32.285173,5.116875,20.000000,28.052567,32.305784,36.496663,50.000000
Total_EMI_per_month,100000.0,1403.118217,8306.041270,0.000000,30.306660,69.249473,161.224249,82331.000000

In [6]:
df_train.shape, df_test.shape

((100000, 28), (50000, 27))

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [8]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  object
 1   Customer_ID               50000 non-null  object
 2   Month                     50000 non-null  object
 3   Name                      44985 non-null  object
 4   Age                       50000 non-null  object
 5   SSN                       50000 non-null  object
 6   Occupation                50000 non-null  object
 7   Annual_Income             50000 non-null  object
 8   Monthly_Inhand_Salary     42502 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               50000 non-null  object
 13  Type_of_Loan              44296 non-null  object
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    46502 non-null  object
 16  Changed_Credit_Limit      50000 non-null  object
 17  Num_Credit_Inquiries      48965 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          50000 non-null  object
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        45530 non-null  object
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   47729 non-null  object
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(4), object(19)
memory usage: 10.3+ MB

In [9]:
df_train.describe().T

,count,mean,std,min,25%,50%,75%,max
Monthly_Inhand_Salary,84998.0,4194.170850,3183.686167,303.645417,1625.568229,3093.745000,5957.448333,15204.633333
Num_Bank_Accounts,100000.0,17.091280,117.404834,-1.000000,3.000000,6.000000,7.000000,1798.000000
Num_Credit_Card,100000.0,22.474430,129.057410,0.000000,4.000000,5.000000,7.000000,1499.000000
Interest_Rate,100000.0,72.466040,466.422621,1.000000,8.000000,13.000000,20.000000,5797.000000
Delay_from_due_date,100000.0,21.068780,14.860104,-5.000000,10.000000,18.000000,28.000000,67.000000
Num_Credit_Inquiries,98035.0,27.754251,193.177339,0.000000,3.000000,6.000000,9.000000,2597.000000
Credit_Utilization_Ratio,100000.0,32.285173,5.116875,20.000000,28.052567,32.305784,36.496663,50.000000
Total_EMI_per_month,100000.0,1403.118217,8306.041270,0.000000,30.306660,69.249473,161.224249,82331.000000

In [10]:
df_test.describe().T

,count,mean,std,min,25%,50%,75%,max
Monthly_Inhand_Salary,42502.0,4182.004291,3174.109304,303.645417,1625.188333,3086.305000,5934.189094,15204.633333
Num_Bank_Accounts,50000.0,16.838260,116.396848,-1.000000,3.000000,6.000000,7.000000,1798.000000
Num_Credit_Card,50000.0,22.921480,129.314804,0.000000,4.000000,5.000000,7.000000,1499.000000
Interest_Rate,50000.0,68.772640,451.602363,1.000000,8.000000,13.000000,20.000000,5799.000000
Delay_from_due_date,50000.0,21.052640,14.860397,-5.000000,10.000000,18.000000,28.000000,67.000000
Num_Credit_Inquiries,48965.0,30.080200,196.984121,0.000000,4.000000,7.000000,10.000000,2593.000000
Credit_Utilization_Ratio,50000.0,32.279581,5.106238,20.509652,28.061040,32.280390,36.468591,48.540663
Total_EMI_per_month,50000.0,1491.304305,8595.647887,0.000000,32.222388,74.733349,176.157491,82398.000000

In [11]:
 df_train.describe(exclude=np.number).T

,count,unique,top,freq
ID,100000,100000,0x1602,1
Customer_ID,100000,12500,CUS_0xd40,8
Month,100000,8,January,12500
Name,90015,10139,Langep,44
Age,100000,1788,38,2833
SSN,100000,12501,#F%$D@*&8,5572
Occupation,100000,16,_______,7062
Annual_Income,100000,18940,36585.12,16
Num_of_Loan,100000,434,3,14386
Type_of_Loan,88592,6260,Not Specified,1408
Num_of_Delayed_Payment,92998,749,19,5327
Changed_Credit_Limit,100000,4384,_,2091
Credit_Mix,100000,4,Standard,36479
Outstanding_Debt,100000,13178,1360.45,24
Credit_History_Age,90970,404,15 Years and 11 Months,446
Payment_of_Min_Amount,100000,3,Yes,52326
Amount_invested_monthly,95521,91049,__10000__,4305
Payment_Behaviour,100000,7,Low_spent_Small_value_payments,25513
Monthly_Balance,98800,98792,__-333333333333333333333333333__,9
Credit_Score,100000,3,Standard,53174

In [12]:
df_test.describe(exclude=np.number).T

                         count unique                               top   freq
ID                       50000  50000                            0x160a      1
Customer_ID              50000  12500                         CUS_0xd40      4
Month                    50000      4                         September  12500
Name                     44985  10139                            Stevex     22
Age                      50000    976                                39   1493
SSN                      50000  12501                         #F%$D@*&8   2828
Occupation               50000     16                           _______   3438
Annual_Income            50000  16121                         109945.32      8
Num_of_Loan              50000    263                                 2   7173
Type_of_Loan             44296   6260                     Not Specified    704
Num_of_Delayed_Payment   46502    443                                19   2622
Changed_Credit_Limit     50000   3927                                 _   1059
Credit_Mix               50000      4                          Standard  18379
Outstanding_Debt         50000  12685                           1109.03     12
Credit_History_Age       45530    399             20 Years and 1 Months    254
Payment_of_Min_Amount    50000      3                               Yes  26158
Amount_invested_monthly  47729  45450                         __10000__   2175
Payment_Behaviour        50000      7    Low_spent_Small_value_payments  12694
Monthly_Balance          49438  49433  __-333333333333333333333333333__      6

### Missing Values

In [13]:
df_train['Credit_Score'].isna().sum()

0

In [14]:
(df_train.columns[:-1]!=df_test.columns).sum()

0

In [15]:
#merging data
df = pd.concat([df_train, df_test], ignore_index=True)
df.shape

(150000, 28)

In [16]:
df['Credit_Score'].isna().sum()

50000

In [17]:
df.isnull().mean()*100

ID                           0.000000
Customer_ID                  0.000000
Month                        0.000000
Name                        10.000000
Age                          0.000000
SSN                          0.000000
Occupation                   0.000000
Annual_Income                0.000000
Monthly_Inhand_Salary       15.000000
Num_Bank_Accounts            0.000000
Num_Credit_Card              0.000000
Interest_Rate                0.000000
Num_of_Loan                  0.000000
Type_of_Loan                11.408000
Delay_from_due_date          0.000000
Num_of_Delayed_Payment       7.000000
Changed_Credit_Limit         0.000000
Num_Credit_Inquiries         2.000000
Credit_Mix                   0.000000
Outstanding_Debt             0.000000
Credit_Utilization_Ratio     0.000000
Credit_History_Age           9.000000
Payment_of_Min_Amount        0.000000
Total_EMI_per_month          0.000000
Amount_invested_monthly      4.500000
Payment_Behaviour            0.000000
Monthly_Balance              1.174667
Credit_Score                33.333333
dtype: float64

In [18]:
df.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

### Examing the Data

In [19]:
df.select_dtypes('O').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 20 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       150000 non-null  object
 1   Customer_ID              150000 non-null  object
 2   Month                    150000 non-null  object
 3   Name                     135000 non-null  object
 4   Age                      150000 non-null  object
 5   SSN                      150000 non-null  object
 6   Occupation               150000 non-null  object
 7   Annual_Income            150000 non-null  object
 8   Num_of_Loan              150000 non-null  object
 9   Type_of_Loan             132888 non-null  object
 10  Num_of_Delayed_Payment   139500 non-null  object
 11  Changed_Credit_Limit     150000 non-null  object
 12  Credit_Mix               150000 non-null  object
 13  Outstanding_Debt         150000 non-null  object
 14  Credit_History_Age       136500 non-null  object
 15  Payment_of_Min_Amount    150000 non-null  object
 16  Amount_invested_monthly  143250 non-null  object
 17  Payment_Behaviour        150000 non-null  object
 18  Monthly_Balance          148238 non-null  object
 19  Credit_Score             100000 non-null  object
dtypes: object(20)
memory usage: 22.9+ MB

In [20]:
object_col = df.describe(include='O').columns
object_col

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Num_of_Loan', 'Type_of_Loan',
       'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Credit_Mix',
       'Outstanding_Debt', 'Credit_History_Age', 'Payment_of_Min_Amount',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [21]:
df = df.applymap(lambda x: x if x is np.NaN or not isinstance(x, str) else str(x).strip('_ ,"')).replace(['', 'nan', '!@9#%8', '#F%$D@*&8'], np.NaN)
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,NaN,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,0x25fe5,CUS_0x8600,December,Sarah McBridec,4975,031-35-0942,Architect,20002.88,1929.906667,10,...,NaN,3571.7,34.780553,NaN,Yes,60.964772,146.48632477751087,Low_spent_Small_value_payments,275.53956951573343,NaN
149996,0x25fee,CUS_0x942c,September,Nicks,25,078-73-5990,Mechanic,39628.99,NaN,4,...,Good,502.38,27.758522,31 Years and 11 Months,NM,35.104023,181.44299902757518,Low_spent_Small_value_payments,409.39456169535066,NaN
149997,0x25fef,CUS_0x942c,October,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,36.858542,32 Years and 0 Months,No,35.104023,10000,Low_spent_Large_value_payments,349.7263321025098,NaN
149998,0x25ff0,CUS_0x942c,November,Nicks,25,078-73-5990,Mechanic,39628.99,NaN,4,...,Good,502.38,39.139840,32 Years and 1 Months,No,35.104023,97.59857973344877,High_spent_Small_value_payments,463.23898098947717,NaN
149999,0x25ff1,CUS_0x942c,December,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,NaN,502.38,34.108530,32 Years and 2 Months,No,35.104023,220.45787812168732,Low_spent_Medium_value_payments,360.37968260123847,NaN

In [22]:
df.isna().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                        15000
Age                             0
SSN                          8400
Occupation                  10500
Annual_Income                   0
Monthly_Inhand_Salary       22500
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                17112
Delay_from_due_date             0
Num_of_Delayed_Payment      10500
Changed_Credit_Limit         3150
Num_Credit_Inquiries         3000
Credit_Mix                  30000
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age          13500
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      6750
Payment_Behaviour           11400
Monthly_Balance              1762
Credit_Score                50000
dtype: int64

## Fixing Data

In [23]:
df.select_dtypes('O').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 20 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       150000 non-null  object
 1   Customer_ID              150000 non-null  object
 2   Month                    150000 non-null  object
 3   Name                     135000 non-null  object
 4   Age                      150000 non-null  object
 5   SSN                      141600 non-null  object
 6   Occupation               139500 non-null  object
 7   Annual_Income            150000 non-null  object
 8   Num_of_Loan              150000 non-null  object
 9   Type_of_Loan             132888 non-null  object
 10  Num_of_Delayed_Payment   139500 non-null  object
 11  Changed_Credit_Limit     146850 non-null  object
 12  Credit_Mix               120000 non-null  object
 13  Outstanding_Debt         150000 non-null  object
 14  Credit_History_Age       136500 non-null  object
 15  Payment_of_Min_Amount    150000 non-null  object
 16  Amount_invested_monthly  143250 non-null  object
 17  Payment_Behaviour        138600 non-null  object
 18  Monthly_Balance          148238 non-null  object
 19  Credit_Score             100000 non-null  object
dtypes: object(20)
memory usage: 22.9+ MB

##### Column type chancing

In [24]:
df['ID'] = df.ID.apply(lambda x: int(x, 16))

In [25]:
df['Customer_ID'] = df.Customer_ID.apply(lambda x: int(x[4:], 16))

In [26]:
df['Month'] = pd.to_datetime(df.Month, format='%B').dt.month

In [27]:
df['Age'] = df.Age.astype(int)

In [28]:
df['SSN'] = df.SSN.apply(lambda x: x if x is np.NaN else int(str(x).replace('-', ''))).astype(float)

In [29]:
df['Annual_Income'] = df.Annual_Income.astype(float)

In [30]:
df['Num_of_Loan'] = df.Num_of_Loan.astype(int)

In [31]:
df['Num_of_Delayed_Payment'] = df.Num_of_Delayed_Payment.astype(float)

In [32]:
df['Changed_Credit_Limit'] = df.Changed_Credit_Limit.astype(float)

In [33]:
df['Outstanding_Debt'] = df.Outstanding_Debt.astype(float)

In [34]:
df['Amount_invested_monthly'] = df.Amount_invested_monthly.astype(float)

In [35]:
df['Monthly_Balance'] = df.Monthly_Balance.astype(float)

In [38]:
ya = df['Credit_History_Age']
ya

0          22 Years and 1 Months
1                            NaN
2          22 Years and 3 Months
3          22 Years and 4 Months
4          22 Years and 5 Months
                   ...
149995                       NaN
149996    31 Years and 11 Months
149997     32 Years and 0 Months
149998     32 Years and 1 Months
149999     32 Years and 2 Months
Name: Credit_History_Age, Length: 150000, dtype: object

In [49]:
def Year_Month_converter(date):
    if pd.notnull(date):
        data = date.split(' ')
        year = int(data[0])
        month = int(data[-2])
      
        return (year*12)+month
    else:
        return date

In [50]:
Year_Month_converter(df['Credit_History_Age'][0])

265

In [52]:
df['Credit_History_Age'] = df.Credit_History_Age.apply(lambda x: Year_Month_converter(x)).astype(float)

In [53]:
df.groupby('Customer_ID')['Credit_History_Age'].apply(list)

Customer_ID
1006     [182.0, 183.0, 184.0, 185.0, 186.0, 187.0, 188...
1007     [346.0, 347.0, 348.0, 349.0, 350.0, nan, 352.0...
1008     [292.0, 293.0, 294.0, nan, 296.0, 297.0, 298.0...
1009     [331.0, 332.0, 333.0, 334.0, 335.0, 336.0, 337...
1011     [179.0, 180.0, nan, 182.0, 183.0, 184.0, 185.0...
                               ...
50984    [157.0, 158.0, 159.0, nan, 161.0, 162.0, nan, ...
50990    [70.0, 71.0, 72.0, nan, nan, 75.0, 76.0, 77.0,...
50992    [159.0, 160.0, 161.0, 162.0, 163.0, nan, 165.0...
50996    [206.0, 207.0, 208.0, 209.0, 210.0, 211.0, 212...
50999    [226.0, 227.0, 228.0, 229.0, 230.0, 231.0, 232...
Name: Credit_History_Age, Length: 12500, dtype: object

In [54]:
df.groupby('Customer_ID')['Type_of_Loan'].value_counts(dropna=False)

Customer_ID  Type_of_Loan
1006         Credit-Builder Loan, and Payday Loan                                                                     12
1007         Home Equity Loan, Mortgage Loan, and Student Loan                                                        12
1008         NaN                                                                                                      12
1009         Credit-Builder Loan, Student Loan, Not Specified, and Student Loan                                       12
1011         Personal Loan, Auto Loan, and Auto Loan                                                                  12
                                                                                                                      ..
50984        Home Equity Loan, Mortgage Loan, Payday Loan, Mortgage Loan, Mortgage Loan, and Payday Loan              12
50990        Mortgage Loan, Auto Loan, and Auto Loan                                                                  12
50992        Student Loan, Credit-Builder Loan, Mortgage Loan, Payday Loan, Home Equity Loan, and Home Equity Loan    12
50996        NaN                                                                                                      12
50999        Credit-Builder Loan                                                                                      12
Name: Type_of_Loan, Length: 12500, dtype: int64

In [55]:
df.groupby('Customer_ID')['Type_of_Loan'].apply(list)

Customer_ID
1006     [Credit-Builder Loan, and Payday Loan, Credit-...
1007     [Home Equity Loan, Mortgage Loan, and Student ...
1008     [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
1009     [Credit-Builder Loan, Student Loan, Not Specif...
1011     [Personal Loan, Auto Loan, and Auto Loan, Pers...
                               ...
50984    [Home Equity Loan, Mortgage Loan, Payday Loan,...
50990    [Mortgage Loan, Auto Loan, and Auto Loan, Mort...
50992    [Student Loan, Credit-Builder Loan, Mortgage L...
50996    [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
50999    [Credit-Builder Loan, Credit-Builder Loan, Cre...
Name: Type_of_Loan, Length: 12500, dtype: object

In [88]:
def different_values_column(df_column):
    diff_value = set()
    for i in df_column.dropna():
        values = set(map(str.strip, i.replace('and', ',').split(',')))
        diff_value |= values
        dic = {i-1:v for i,v in enumerate(sorted(diff_value))}
        del dic[-1]# for remove the empty index
    return dic

In [89]:
different_values_column(df['Type_of_Loan'])

{0: 'Auto Loan',
 1: 'Credit-Builder Loan',
 2: 'Debt Consolidation Loan',
 3: 'Home Equity Loan',
 4: 'Mortgage Loan',
 5: 'Not Specified',
 6: 'Payday Loan',
 7: 'Personal Loan',
 8: 'Student Loan'}

In [105]:
def reassign_group_object_nan_values(df, groupby, column, inplace=True):
    if not inplace:
        df = df.copy()
        
    def assign_nans(df, groupby, column):
        # Replace None with np.NaN
        df[column] = df[column].fillna(np.NaN)
        # Fill with local mode
        df[column] = df.groupby(groupby)[column].transform(lambda x: x.fillna(x.mode()[0]))
        
    # Before
    print(f'Before Assigning NaN {column}: {df[column].value_counts(dropna=False).head(1)}')
    a = df.groupby(groupby)[column].apply(list)
    print(f'\nBefore Assigning Example {column}:\n{a.head()}\n')
    
    assign_nans(df, groupby, column)
    
    # After
    print(f'After Assigning NaN {column}: {df[column].value_counts(dropna=False).head(1)}')
    b = df.groupby(groupby)[column].apply(list)
    print(f'\nAfter Assigning Example {column}:\n{b.head()}\n')
    
    if not inplace:
        return df

In [106]:
df.describe(include='O').T

                        count unique                             top   freq
Name                   149988  10128                        Jessicad     72
Occupation             139500     15                          Lawyer   9899
Type_of_Loan           132888   6260                   Not Specified   2112
Credit_Mix             120000      3                        Standard  54858
Payment_of_Min_Amount  150000      3                             Yes  78484
Payment_Behaviour      138600      6  Low_spent_Small_value_payments  38207
Credit_Score           100000      3                        Standard  53174

##### Name

In [107]:
df['Name'].value_counts(dropna=False).head()

Jessicad          72
Langep            72
Stevex            72
Ronald Groverk    60
Danielz           60
Name: Name, dtype: int64

In [108]:
reassign_group_object_nan_values(df, 'Customer_ID', 'Name')

Before Assigning NaN Name: Jessicad    72
Name: Name, dtype: int64

Before Assigning Example Name:
Customer_ID
1006    [Matthias Blamontb, Matthias Blamontb, Matthia...
1007    [Soyoung Kimu, Soyoung Kimu, Soyoung Kimu, Soy...
1008    [Koht, Koht, Koht, Koht, Koht, Koht, Koht, Koh...
1009    [Edd, Edd, Edd, Edd, Edd, Edd, Edd, Edd, Edd, ...
1011    [Terry Wadeu, Terry Wadeu, Terry Wadeu, Terry ...
Name: Name, dtype: object

After Assigning NaN Name: Jessicad    72
Name: Name, dtype: int64

After Assigning Example Name:
Customer_ID
1006    [Matthias Blamontb, Matthias Blamontb, Matthia...
1007    [Soyoung Kimu, Soyoung Kimu, Soyoung Kimu, Soy...
1008    [Koht, Koht, Koht, Koht, Koht, Koht, Koht, Koh...
1009    [Edd, Edd, Edd, Edd, Edd, Edd, Edd, Edd, Edd, ...
1011    [Terry Wadeu, Terry Wadeu, Terry Wadeu, Terry ...
Name: Name, dtype: object

##### Occupation

In [109]:
df['Occupation'].value_counts(dropna=False)

NaN              10500
Lawyer            9899
Engineer          9562
Architect         9550
Mechanic          9459
Accountant        9404
Scientist         9403
Developer         9381
Media_Manager     9362
Teacher           9318
Entrepreneur      9277
Journalist        9122
Doctor            9114
Manager           8973
Musician          8858
Writer            8818
Name: Occupation, dtype: int64

In [110]:
reassign_group_object_nan_values(df, 'Customer_ID', 'Occupation')

Before Assigning NaN Occupation: NaN    10500
Name: Occupation, dtype: int64

Before Assigning Example Occupation:
Customer_ID
1006    [Journalist, Journalist, Journalist, Journalis...
1007    [Manager, Manager, nan, Manager, Manager, Mana...
1008    [Developer, Developer, Developer, Developer, D...
1009    [Accountant, nan, Accountant, Accountant, Acco...
1011    [Writer, Writer, Writer, Writer, nan, Writer, ...
Name: Occupation, dtype: object

After Assigning NaN Occupation: Lawyer    10644
Name: Occupation, dtype: int64

After Assigning Example Occupation:
Customer_ID
1006    [Journalist, Journalist, Journalist, Journalis...
1007    [Manager, Manager, Manager, Manager, Manager, ...
1008    [Developer, Developer, Developer, Developer, D...
1009    [Accountant, Accountant, Accountant, Accountan...
1011    [Writer, Writer, Writer, Writer, Writer, Write...
Name: Occupation, dtype: object

##### Type_of_Loan

In [111]:
df.groupby('Customer_ID')['Type_of_Loan'].value_counts(dropna=False)

Customer_ID  Type_of_Loan
1006         Credit-Builder Loan, and Payday Loan                                                                     12
1007         Home Equity Loan, Mortgage Loan, and Student Loan                                                        12
1008         NaN                                                                                                      12
1009         Credit-Builder Loan, Student Loan, Not Specified, and Student Loan                                       12
1011         Personal Loan, Auto Loan, and Auto Loan                                                                  12
                                                                                                                      ..
50984        Home Equity Loan, Mortgage Loan, Payday Loan, Mortgage Loan, Mortgage Loan, and Payday Loan              12
50990        Mortgage Loan, Auto Loan, and Auto Loan                                                                  12
50992        Student Loan, Credit-Builder Loan, Mortgage Loan, Payday Loan, Home Equity Loan, and Home Equity Loan    12
50996        NaN                                                                                                      12
50999        Credit-Builder Loan                                                                                      12
Name: Type_of_Loan, Length: 12500, dtype: int64

In [112]:
df['Type_of_Loan'].replace([np.NaN], 'No Data', inplace=True)

##### Credit_Mix

In [113]:
df['Credit_Mix'].value_counts(dropna=False)

Standard    54858
Good        36597
NaN         30000
Bad         28545
Name: Credit_Mix, dtype: int64

In [114]:
reassign_group_object_nan_values(df, 'Customer_ID', 'Credit_Mix')

Before Assigning NaN Credit_Mix: Standard    54858
Name: Credit_Mix, dtype: int64

Before Assigning Example Credit_Mix:
Customer_ID
1006    [Standard, Standard, Standard, Standard, Stand...
1007    [nan, Standard, Standard, Standard, nan, Stand...
1008    [nan, Standard, Standard, nan, Standard, Stand...
1009    [Standard, nan, Standard, Standard, Standard, ...
1011    [nan, nan, Standard, Standard, Standard, Stand...
Name: Credit_Mix, dtype: object

After Assigning NaN Credit_Mix: Standard    68772
Name: Credit_Mix, dtype: int64

After Assigning Example Credit_Mix:
Customer_ID
1006    [Standard, Standard, Standard, Standard, Stand...
1007    [Standard, Standard, Standard, Standard, Stand...
1008    [Standard, Standard, Standard, Standard, Stand...
1009    [Standard, Standard, Standard, Standard, Stand...
1011    [Standard, Standard, Standard, Standard, Stand...
Name: Credit_Mix, dtype: object

##### Payment_of_Min_Amount (There's no need)

In [115]:
df['Payment_of_Min_Amount'].value_counts(dropna=False)

Yes    78484
No     53516
NM     18000
Name: Payment_of_Min_Amount, dtype: int64

##### Payment_Behaviour

In [116]:
df['Payment_Behaviour'].value_counts(dropna=False)

Low_spent_Small_value_payments      38207
High_spent_Medium_value_payments    26462
Low_spent_Medium_value_payments     20698
High_spent_Large_value_payments     20565
High_spent_Small_value_payments     16991
Low_spent_Large_value_payments      15677
NaN                                 11400
Name: Payment_Behaviour, dtype: int64

In [117]:
reassign_group_object_nan_values(df, 'Customer_ID', 'Payment_Behaviour')

Before Assigning NaN Payment_Behaviour: Low_spent_Small_value_payments    38207
Name: Payment_Behaviour, dtype: int64

Before Assigning Example Payment_Behaviour:
Customer_ID
1006    [High_spent_Medium_value_payments, Low_spent_M...
1007    [High_spent_Medium_value_payments, High_spent_...
1008    [High_spent_Small_value_payments, Low_spent_La...
1009    [High_spent_Medium_value_payments, High_spent_...
1011    [High_spent_Small_value_payments, Low_spent_Sm...
Name: Payment_Behaviour, dtype: object

After Assigning NaN Payment_Behaviour: Low_spent_Small_value_payments    42046
Name: Payment_Behaviour, dtype: int64

After Assigning Example Payment_Behaviour:
Customer_ID
1006    [High_spent_Medium_value_payments, Low_spent_M...
1007    [High_spent_Medium_value_payments, High_spent_...
1008    [High_spent_Small_value_payments, Low_spent_La...
1009    [High_spent_Medium_value_payments, High_spent_...
1011    [High_spent_Small_value_payments, Low_spent_Sm...
Name: Payment_Behaviour, dtype: object

### Find Min, Max, Mean

In [118]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,150000.0,8.063350e+04,4.330141e+04,5.634000e+03,4.313375e+04,8.063350e+04,1.181332e+05,1.556330e+05
Customer_ID,150000.0,2.598267e+04,1.434052e+04,1.006000e+03,1.366450e+04,2.577700e+04,3.838500e+04,5.099900e+04
Month,150000.0,6.500000e+00,3.452064e+00,1.000000e+00,3.750000e+00,6.500000e+00,9.250000e+00,1.200000e+01
Age,150000.0,1.103379e+02,6.840668e+02,-5.000000e+02,2.500000e+01,3.300000e+01,4.200000e+01,8.698000e+03
SSN,141600.0,5.005493e+08,2.907135e+08,8.134900e+04,2.453159e+08,5.007606e+08,7.559962e+08,9.999934e+08
Annual_Income,150000.0,1.730552e+05,1.404215e+06,7.005930e+03,1.945549e+04,3.757861e+04,7.279690e+04,2.419806e+07
Monthly_Inhand_Salary,127500.0,4.190115e+03,3.180490e+03,3.036454e+02,1.625266e+03,3.091000e+03,5.948455e+03,1.520463e+04
Num_Bank_Accounts,150000.0,1.700694e+01,1.170695e+02,-1.000000e+00,3.000000e+00,6.000000e+00,7.000000e+00,1.798000e+03
Num_Credit_Card,150000.0,2.262345e+01,1.291430e+02,0.000000e+00,4.000000e+00,5.000000e+00,7.000000e+00,1.499000e+03
Interest_Rate,150000.0,7.123491e+01,4.615372e+02,1.000000e+00,8.000000e+00,1.300000e+01,2.000000e+01,5.799000e+03
Num_of_Loan,150000.0,3.141093e+00,6.391065e+01,-1.000000e+02,1.000000e+00,3.000000e+00,5.000000e+00,1.496000e+03
Delay_from_due_date,150000.0,2.106340e+01,1.486015e+01,-5.000000e+00,1.000000e+01,1.800000e+01,2.800000e+01,6.700000e+01
Num_of_Delayed_Payment,139500.0,3.091188e+01,2.245340e+02,-3.000000e+00,9.000000e+00,1.400000e+01,1.800000e+01,4.399000e+03
Changed_Credit_Limit,146850.0,1.038430e+01,6.786522e+00,-6.490000e+00,5.330000e+00,9.410000e+00,1.484000e+01,3.697000e+01
Num_Credit_Inquiries,147000.0,2.852901e+01,1.944561e+02,0.000000e+00,3.000000e+00,6.000000e+00,9.000000e+00,2.597000e+03
Outstanding_Debt,150000.0,1.426220e+03,1.155127e+03,2.300000e-01,5.660725e+02,1.166155e+03,1.945963e+03,4.998070e+03
Credit_Utilization_Ratio,150000.0,3.228331e+01,5.113315e+00,2.000000e+01,2.805473e+01,3.229706e+01,3.648795e+01,5.000000e+01
Credit_History_Age,136500.0,2.232153e+02,9.971955e+01,1.000000e+00,1.460000e+02,2.220000e+02,3.040000e+02,4.080000e+02
Total_EMI_per_month,150000.0,1.432514e+03,8.403760e+03,0.000000e+00,3.094778e+01,7.128001e+01,1.662796e+02,8.239800e+04
Amount_invested_monthly,143250.0,6.388263e+02,2.046843e+03,0.000000e+00,7.453384e+01,1.357914e+02,2.661108e+02,1.000000e+04
Monthly_Balance,148238.0,-3.372954e+22,3.352927e+24,-3.333333e+26,2.702297e+02,3.367995e+02,4.704553e+02,1.606518e+03

In [119]:
df['Customer_ID'].nunique()

12500

In [120]:
# outlier range
def outlier_range(df, column, multiply=1.5):
    q1 = df[column].quantile(0.25)
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    lower = q1 - iqr * multiply
    upper = q3 + iqr * multiply
    return lower, upper

In [3]:
# Reassign Wrong Values and Show Function
def Reassign_Group_Numeric_Wrong_Values(df, groupby, column, inplace=True):      

    # Identify Wrong values Range
    def get_group_min_max(df, groupby, column):            
        cur = df[df[column].notna()].groupby(groupby)[column].apply(list)
        x, y = cur.apply(lambda x: stats.mode(x, keepdims=True)).apply([min, max])
        return x[0][0], y[0][0]
    
    # Assigning Wrong values
    def make_group_NaN_and_fill_mode(df, groupby, column, inplace=True):
        df_dropped = df[df[column].notna()].groupby(groupby)[column].apply(list)
        x, y = df_dropped.apply(lambda x: stats.mode(x, keepdims=True)).apply([min, max])
        mini, maxi = x[0][0], y[0][0]

        # assign Wrong Values to NaN
        col = df[column].apply(lambda x: np.NaN if ((x<mini)|(x>maxi)) else x)

        # fill with local mode
        mode_by_group = df.groupby(groupby)[column].transform(lambda x: x.mode()[0] if not x.mode().empty else np.NaN)
        result = col.fillna(mode_by_group)

        # inplace
        if inplace:
            df[column]=result
        else:
            return result
        
    
    # Run      
    if inplace:   
        print("\nExisting Min, Max Values:", df[column].apply([min, max]), sep='\n', end='\n')       
        mini, maxi = get_group_min_max(df, groupby, column)        
        print(f"\nGroupby by {groupby}'s Actual min, max Values:", f'min:\t{mini},\nmax:\t{ maxi}', sep='\n', end='\n')
        
        # Before Assigning Wrong values      
        x = df[column].value_counts(dropna=False).head(1)
        print(f'\nBefore Assigning Min, Max {column}:', [x if x.index[0] is np.NaN or x.index[0] is None else 'No NaN Value'] , end='\n')
        
        a = df.groupby(groupby)[column].apply(list) 
        print(f'\nBefore Assigning Example {column}:\n', *a.head().values, sep='\n', end='\n')
        
        # Assigning
        make_group_NaN_and_fill_mode(df, groupby, column, inplace)
        
        # After Assigning Wrong values
        y = df[column].value_counts(dropna=False).head(1)
        print(f'\nAfter Assigning  Min, Max {column}:', [y if y.index[0] is np.NaN or x.index[0] is None else 'No NaN Value'] , end='\n')
        
        b = df.groupby(groupby)[column].apply(list)
        print(f'\nAfter Assigning Example {column}:\n', *b.head().values, sep='\n', end='\n')
    else:   
        # Show
        return make_group_NaN_and_fill_mode(df, groupby, column, inplace)

In [ ]:
'''TR
Bu fonksiyon, bir veri çerçevesinde belirtilen bir gruplama sütununa göre belirli bir sayısal sütunda yanlış değerleri tespit eder ve bunları grup ortalamaları veya medyanlarıyla doldurur.

Fonksiyon üç adımdan oluşur:

1.get_group_min_max: Verilen gruplama sütununa göre, sütundaki değerlerin modunu alır ve minimum-maximum aralığını hesaplar. Bu, sayısal sütunun olası yanlış değerlerini tespit etmek için kullanılır.
2.make_group_NaN_and_fill_mode: Sütunda tespit edilen yanlış değerler, NaN değerlerine atanır ve her gruptaki diğer değerlerin moduyla doldurulur.
3.Fonksiyonun ana gövdesi, make_group_NaN_and_fill_mode işlevini çağıran ve sonucu ekrana yazdıran veya değişiklikleri yerinde yapacak şekilde veri çerçevesini değiştiren bir kod bloğudur.

Bu işlev, belirtilen sütunun değer aralığında olmayan yanlış değerleri tespit etmek ve onları gruba göre mod ile doldurmak için oldukça kullanışlı bir araçtır.'''

'''ENG
This code is a function that reassigns the wrong values in a numerical column for each group in a pandas DataFrame based on the mode of the valid values for that group.

If inplace is True, the function updates the DataFrame in place and prints out the original and cleaned values for the specified column for one example group before and after cleaning. If inplace is False, the function returns a copy of the cleaned DataFrame without printing any output.
'''

In [123]:
df.describe().columns

Index(['ID', 'Customer_ID', 'Month', 'Age', 'SSN', 'Annual_Income',
       'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card',
       'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date',
       'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Outstanding_Debt', 'Credit_Utilization_Ratio',
       'Credit_History_Age', 'Total_EMI_per_month', 'Amount_invested_monthly',
       'Monthly_Balance'],
      dtype='object')

In [124]:
# ID
df['ID'].nunique()

150000

In [125]:
# Month
df['Month'].value_counts()

1     12500
2     12500
3     12500
4     12500
5     12500
6     12500
7     12500
8     12500
9     12500
10    12500
11    12500
12    12500
Name: Month, dtype: int64

In [131]:
# Age
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'Age')

Existing Min, Max Values:
min    14.0
max    56.0
Name: Age, dtype: float64

Groupby by Customer_ID's Actual min, max Values:
min:	14.0,
max:	56.0

Before Assigning Min, Max Age: ['No NaN Value']

Before Assigning Example Age:

[37.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0]
[48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 49.0]
[37.0, 37.0, 37.0, 37.0, 37.0, 37.0, 37.0, 37.0, 37.0, 37.0, 37.0, 37.0]
[22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 23.0, 23.0, 23.0, 23.0, 23.0]
[43.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0]

After Assigning  Min, Max Age: ['No NaN Value']

After Assigning Example Age:

[37.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0]
[48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 49.0]
[37.0, 37.0, 37.0, 37.0, 37.0, 37.0, 37.0, 37.0, 37.0, 37.0, 37.0, 37.0]
[22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 23.0, 23.0, 23.0, 23.0, 23.0]
[43.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0]

In [132]:
# SSN
df.SSN.value_counts(dropna=False)

NaN            8400
78735990.0       12
47161543.0       12
255398777.0      12
159517992.0      12
               ...
414769835.0       7
695717676.0       7
803446289.0       7
74528105.0        7
642737670.0       6
Name: SSN, Length: 12501, dtype: int64

In [133]:
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'SSN')

Existing Min, Max Values:
min        81349.0
max    999993421.0
Name: SSN, dtype: float64

Groupby by Customer_ID's Actual min, max Values:
min:	81349.0,
max:	999993421.0

Before Assigning Min, Max SSN: ['No NaN Value']

Before Assigning Example SSN:

[354656948.0, 354656948.0, 354656948.0, 354656948.0, 354656948.0, 354656948.0, 354656948.0, 354656948.0, 354656948.0, 354656948.0, nan, 354656948.0]
[964812710.0, 964812710.0, 964812710.0, 964812710.0, 964812710.0, 964812710.0, 964812710.0, 964812710.0, 964812710.0, 964812710.0, 964812710.0, 964812710.0]
[802194704.0, nan, 802194704.0, 802194704.0, 802194704.0, 802194704.0, 802194704.0, 802194704.0, 802194704.0, 802194704.0, 802194704.0, 802194704.0]
[nan, nan, 891062189.0, 891062189.0, 891062189.0, 891062189.0, 891062189.0, 891062189.0, 891062189.0, 891062189.0, 891062189.0, 891062189.0]
[422130011.0, 422130011.0, 422130011.0, 422130011.0, 422130011.0, 422130011.0, 422130011.0, 422130011.0, 422130011.0, 422130011.0, 422130011.0, 422130011.0]

After Assigning  Min, Max SSN: ['No NaN Value']

After Assigning Example SSN:

[354656948.0, 354656948.0, 354656948.0, 354656948.0, 354656948.0, 354656948.0, 354656948.0, 354656948.0, 354656948.0, 354656948.0, 354656948.0, 354656948.0]
[964812710.0, 964812710.0, 964812710.0, 964812710.0, 964812710.0, 964812710.0, 964812710.0, 964812710.0, 964812710.0, 964812710.0, 964812710.0, 964812710.0]
[802194704.0, 802194704.0, 802194704.0, 802194704.0, 802194704.0, 802194704.0, 802194704.0, 802194704.0, 802194704.0, 802194704.0, 802194704.0, 802194704.0]
[891062189.0, 891062189.0, 891062189.0, 891062189.0, 891062189.0, 891062189.0, 891062189.0, 891062189.0, 891062189.0, 891062189.0, 891062189.0, 891062189.0]
[422130011.0, 422130011.0, 422130011.0, 422130011.0, 422130011.0, 422130011.0, 422130011.0, 422130011.0, 422130011.0, 422130011.0, 422130011.0, 422130011.0]

In [134]:
# Annual_Income
df.Annual_Income.value_counts(dropna=False)

109945.32      24
20867.67       24
9141.63        24
17816.75       24
40341.16       24
               ..
23467279.00     1
11586734.00     1
18324322.00     1
3449550.00      1
250738.00       1
Name: Annual_Income, Length: 13988, dtype: int64

In [135]:
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'Annual_Income')

Existing Min, Max Values:
min        7005.93
max    24198062.00
Name: Annual_Income, dtype: float64

Groupby by Customer_ID's Actual min, max Values:
min:	7005.93,
max:	179987.28

Before Assigning Min, Max Annual_Income: ['No NaN Value']

Before Assigning Example Annual_Income:

[16756.18, 16756.18, 16756.18, 16756.18, 16756.18, 16756.18, 16756.18, 16756.18, 16756.18, 16756.18, 16756.18, 16756.18]
[21212.91, 21212.91, 21212.91, 21212.91, 21212.91, 21212.91, 21212.91, 21212.91, 21212.91, 21212.91, 21212.91, 21212.91]
[33540.43, 33540.43, 33540.43, 33540.43, 33540.43, 33540.43, 33540.43, 33540.43, 33540.43, 33540.43, 33540.43, 33540.43]
[80983.64, 80983.64, 80983.64, 80983.64, 80983.64, 80983.64, 80983.64, 80983.64, 80983.64, 80983.64, 80983.64, 80983.64]
[104142.56, 104142.56, 104142.56, 104142.56, 104142.56, 104142.56, 104142.56, 104142.56, 104142.56, 104142.56, 104142.56, 104142.56]

After Assigning  Min, Max Annual_Income: ['No NaN Value']

After Assigning Example Annual_Income:

[16756.18, 16756.18, 16756.18, 16756.18, 16756.18, 16756.18, 16756.18, 16756.18, 16756.18, 16756.18, 16756.18, 16756.18]
[21212.91, 21212.91, 21212.91, 21212.91, 21212.91, 21212.91, 21212.91, 21212.91, 21212.91, 21212.91, 21212.91, 21212.91]
[33540.43, 33540.43, 33540.43, 33540.43, 33540.43, 33540.43, 33540.43, 33540.43, 33540.43, 33540.43, 33540.43, 33540.43]
[80983.64, 80983.64, 80983.64, 80983.64, 80983.64, 80983.64, 80983.64, 80983.64, 80983.64, 80983.64, 80983.64, 80983.64]
[104142.56, 104142.56, 104142.56, 104142.56, 104142.56, 104142.56, 104142.56, 104142.56, 104142.56, 104142.56, 104142.56, 104142.56]

In [136]:
# Monthly_Inhand_Salary
df.Monthly_Inhand_Salary.value_counts(dropna=False)

NaN             22500
2295.058333        22
6082.187500        22
6358.956667        21
3080.555000        21
                ...
4305.385250         1
2028.727911         1
3065.776667         1
2486.532500         1
10699.849855        1
Name: Monthly_Inhand_Salary, Length: 13684, dtype: int64

In [137]:
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'Monthly_Inhand_Salary')

Existing Min, Max Values:
min      303.645417
max    15204.633333
Name: Monthly_Inhand_Salary, dtype: float64

Groupby by Customer_ID's Actual min, max Values:
min:	303.6454166666666,
max:	15204.633333333331

Before Assigning Min, Max Monthly_Inhand_Salary: ['No NaN Value']

Before Assigning Example Monthly_Inhand_Salary:

[1331.3483333333334, 1331.3483333333334, 1331.3483333333334, 1331.3483333333334, 1331.3483333333334, 1331.3483333333334, 1331.3483333333334, 1331.3483333333334, 1331.3483333333334, 1331.3483333333334, nan, 1331.3483333333334]
[1496.7425, 1496.7425, 1496.7425, 1496.7425, nan, 1496.7425, 1496.7425, 1496.7425, 1496.7425, 1496.7425, 1496.7425, 1496.7425]
[2655.035833333333, 2655.035833333333, 2655.035833333333, 2655.035833333333, 2655.035833333333, 2655.035833333333, 2655.035833333333, 2655.035833333333, 2655.035833333333, 2655.035833333333, 2655.035833333333, 2655.035833333333]
[6692.636666666666, 6692.636666666666, 6692.636666666666, 6692.636666666666, 6692.636666666666, 6692.636666666666, 6692.636666666666, 6692.636666666666, 6692.636666666666, 6692.636666666666, 6692.636666666666, 6692.636666666666]
[8433.546666666667, 8433.546666666667, 8433.546666666667, 8433.546666666667, 8433.546666666667, 8433.546666666667, 8433.546666666667, nan, 8433.546666666667, 8433.546666666667, 8433.546666666667, nan]

After Assigning  Min, Max Monthly_Inhand_Salary: ['No NaN Value']

After Assigning Example Monthly_Inhand_Salary:

[1331.3483333333334, 1331.3483333333334, 1331.3483333333334, 1331.3483333333334, 1331.3483333333334, 1331.3483333333334, 1331.3483333333334, 1331.3483333333334, 1331.3483333333334, 1331.3483333333334, 1331.3483333333334, 1331.3483333333334]
[1496.7425, 1496.7425, 1496.7425, 1496.7425, 1496.7425, 1496.7425, 1496.7425, 1496.7425, 1496.7425, 1496.7425, 1496.7425, 1496.7425]
[2655.035833333333, 2655.035833333333, 2655.035833333333, 2655.035833333333, 2655.035833333333, 2655.035833333333, 2655.035833333333, 2655.035833333333, 2655.035833333333, 2655.035833333333, 2655.035833333333, 2655.035833333333]
[6692.636666666666, 6692.636666666666, 6692.636666666666, 6692.636666666666, 6692.636666666666, 6692.636666666666, 6692.636666666666, 6692.636666666666, 6692.636666666666, 6692.636666666666, 6692.636666666666, 6692.636666666666]
[8433.546666666667, 8433.546666666667, 8433.546666666667, 8433.546666666667, 8433.546666666667, 8433.546666666667, 8433.546666666667, 8433.546666666667, 8433.546666666667, 8433.546666666667, 8433.546666666667, 8433.546666666667]

In [138]:
# Num_Bank_Accounts
df.Num_Bank_Accounts.value_counts(dropna=False)

6       19505
7       19231
8       19152
4       18286
5       18186
        ...
1731        1
84          1
1458        1
1448        1
278         1
Name: Num_Bank_Accounts, Length: 1183, dtype: int64

In [139]:
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'Num_Bank_Accounts')

Existing Min, Max Values:
min      -1
max    1798
Name: Num_Bank_Accounts, dtype: int64

Groupby by Customer_ID's Actual min, max Values:
min:	-1,
max:	11

Before Assigning Min, Max Num_Bank_Accounts: ['No NaN Value']

Before Assigning Example Num_Bank_Accounts:

[9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9]
[3, 3, 3, 1174, 3, 3, 3, 3, 3, 3, 3, 3]
[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]
[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]
[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

After Assigning  Min, Max Num_Bank_Accounts: ['No NaN Value']

After Assigning Example Num_Bank_Accounts:

[9.0, 9.0, 9.0, 9.0, 9.0, 9.0, 9.0, 9.0, 9.0, 9.0, 9.0, 9.0]
[3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0]
[6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0]
[6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0]
[3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0]

In [140]:
# Num_Credit_Card
df_train.Num_Credit_Card.value_counts(dropna=False)

5       18459
7       16615
6       16559
4       14030
3       13277
        ...
791         1
1118        1
657         1
640         1
679         1
Name: Num_Credit_Card, Length: 1179, dtype: int64

In [141]:
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'Num_Credit_Card')

Existing Min, Max Values:
min       0
max    1499
Name: Num_Credit_Card, dtype: int64

Groupby by Customer_ID's Actual min, max Values:
min:	0,
max:	11

Before Assigning Min, Max Num_Credit_Card: ['No NaN Value']

Before Assigning Example Num_Credit_Card:

[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 750]
[4, 4, 4, 4, 4, 4, 4, 888, 4, 4, 4, 4]
[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 112]
[3, 3, 3, 3, 725, 3, 3, 3, 3, 3, 3, 3]
[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

After Assigning  Min, Max Num_Credit_Card: ['No NaN Value']

After Assigning Example Num_Credit_Card:

[6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0]
[4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0]
[3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0]
[3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0]
[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0]

In [142]:
# Interest_Rate
df.Interest_Rate.value_counts(dropna=False)

8       7515
5       7479
6       7089
12      6828
10      6799
        ...
4985       1
2781       1
608        1
4817       1
4252       1
Name: Interest_Rate, Length: 2394, dtype: int64

In [143]:
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'Interest_Rate')

Existing Min, Max Values:
min       1
max    5799
Name: Interest_Rate, dtype: int64

Groupby by Customer_ID's Actual min, max Values:
min:	1,
max:	34

Before Assigning Min, Max Interest_Rate: ['No NaN Value']

Before Assigning Example Interest_Rate:

[22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22]
[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]
[17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17]
[15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15]
[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

After Assigning  Min, Max Interest_Rate: ['No NaN Value']

After Assigning Example Interest_Rate:

[22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0]
[10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0]
[17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0]
[15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0]
[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0]

In [144]:
# Num_of_Loan
df.Num_of_Loan.value_counts(dropna=False)

3       22618
2       22547
4       22111
0       16376
1       15901
        ...
1085        1
742         1
291         1
365         1
1442        1
Name: Num_of_Loan, Length: 600, dtype: int64

In [145]:
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'Num_of_Loan')

Existing Min, Max Values:
min    -100
max    1496
Name: Num_of_Loan, dtype: int64

Groupby by Customer_ID's Actual min, max Values:
min:	0,
max:	9

Before Assigning Min, Max Num_of_Loan: ['No NaN Value']

Before Assigning Example Num_of_Loan:

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, -100]
[3, 3, 3, 3, -100, 3, 3, 3, 3, 3, 3, 3]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]
[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

After Assigning  Min, Max Num_of_Loan: ['No NaN Value']

After Assigning Example Num_of_Loan:

[2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0]
[3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0]
[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
[4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0]
[3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0]

In [147]:
# Delay_from_due_date
df.Delay_from_due_date.value_counts(dropna=False)

 15    5355
 13    5185
 8     5004
 14    4949
 10    4926
       ...
 63      90
 65      86
-5       51
 66      44
 67      29
Name: Delay_from_due_date, Length: 73, dtype: int64

In [148]:
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'Delay_from_due_date')

Existing Min, Max Values:
min    -5
max    67
Name: Delay_from_due_date, dtype: int64

Groupby by Customer_ID's Actual min, max Values:
min:	-1,
max:	62

Before Assigning Min, Max Delay_from_due_date: ['No NaN Value']

Before Assigning Example Delay_from_due_date:

[48, 48, 48, 48, 48, 48, 48, 48, 48, 50, 48, 53]
[19, 19, 19, 19, 19, 19, 19, 16, 20, 19, 15, 19]
[25, 28, 22, 26, 26, 26, 26, 26, 26, 26, 21, 26]
[19, 19, 19, 19, 19, 19, 19, 19, 19, 18, 21, 19]
[15, 15, 20, 16, 20, 20, 20, 24, 25, 20, 20, 20]

After Assigning  Min, Max Delay_from_due_date: ['No NaN Value']

After Assigning Example Delay_from_due_date:

[48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 50.0, 48.0, 53.0]
[19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 16.0, 20.0, 19.0, 15.0, 19.0]
[25.0, 28.0, 22.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 21.0, 26.0]
[19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 18.0, 21.0, 19.0]
[15.0, 15.0, 20.0, 16.0, 20.0, 20.0, 20.0, 24.0, 25.0, 20.0, 20.0, 20.0]

In [149]:
# Num_of_Delayed_Payment
df.Num_of_Delayed_Payment.value_counts(dropna=False)

NaN       10500
19.0       8188
17.0       8048
16.0       7949
15.0       7911
          ...
3881.0        1
2728.0        1
1952.0        1
3580.0        1
2034.0        1
Name: Num_of_Delayed_Payment, Length: 1015, dtype: int64

In [150]:
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'Num_of_Delayed_Payment')

Existing Min, Max Values:
min      -3.0
max    4399.0
Name: Num_of_Delayed_Payment, dtype: float64

Groupby by Customer_ID's Actual min, max Values:
min:	-2.0,
max:	25.0

Before Assigning Min, Max Num_of_Delayed_Payment: ['No NaN Value']

Before Assigning Example Num_of_Delayed_Payment:

[10.0, 12.0, 12.0, 13.0, nan, 12.0, 11.0, 12.0, 12.0, 12.0, 11.0, 12.0]
[19.0, 19.0, 19.0, 19.0, 19.0, 21.0, 20.0, 19.0, 19.0, 18.0, 19.0, 20.0]
[11.0, 11.0, 11.0, nan, 11.0, nan, 11.0, 13.0, 12.0, 11.0, 13.0, 11.0]
[18.0, 18.0, 18.0, 18.0, 18.0, nan, 20.0, 18.0, 18.0, 18.0, nan, nan]
[17.0, 16.0, 14.0, nan, 17.0, 14.0, 11.0, 14.0, 14.0, 14.0, 17.0, 12.0]

After Assigning  Min, Max Num_of_Delayed_Payment: ['No NaN Value']

After Assigning Example Num_of_Delayed_Payment:

[10.0, 12.0, 12.0, 13.0, 12.0, 12.0, 11.0, 12.0, 12.0, 12.0, 11.0, 12.0]
[19.0, 19.0, 19.0, 19.0, 19.0, 21.0, 20.0, 19.0, 19.0, 18.0, 19.0, 20.0]
[11.0, 11.0, 11.0, 11.0, 11.0, 11.0, 11.0, 13.0, 12.0, 11.0, 13.0, 11.0]
[18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 20.0, 18.0, 18.0, 18.0, 18.0, 18.0]
[17.0, 16.0, 14.0, 14.0, 17.0, 14.0, 11.0, 14.0, 14.0, 14.0, 17.0, 12.0]

In [151]:
# Changed_Credit_Limit
df.Changed_Credit_Limit.value_counts(dropna=False)

NaN      3150
11.50     197
11.32     189
8.22      189
7.35      181
         ...
34.57       1
31.94       1
34.46       1
23.32       1
29.17       1
Name: Changed_Credit_Limit, Length: 4605, dtype: int64

In [152]:
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'Changed_Credit_Limit')

Existing Min, Max Values:
min    -6.49
max    36.97
Name: Changed_Credit_Limit, dtype: float64

Groupby by Customer_ID's Actual min, max Values:
min:	0.5,
max:	29.98

Before Assigning Min, Max Changed_Credit_Limit: ['No NaN Value']

Before Assigning Example Changed_Credit_Limit:

[10.66, 10.66, 10.66, 10.66, 10.66, 10.66, 10.66, 10.66, 10.66, 10.66, 17.66, 10.66]
[12.13, 5.13, 5.13, 5.13, 5.13, 2.13, 5.13, 5.13, 5.13, 5.13, 5.13, 5.13]
[14.11, 14.11, 14.11, 14.11, 14.11, 14.11, 14.11, 14.11, 14.11, 14.11, 14.11, 14.11]
[16.91, 16.91, 16.91, 16.91, 16.91, 16.91, 19.91, 16.91, 19.91, 16.91, 16.91, 16.91]
[15.28, 15.28, 15.28, 15.28, 19.28, 15.28, 15.28, 15.28, 15.28, 15.28, 15.28, 15.28]

After Assigning  Min, Max Changed_Credit_Limit: ['No NaN Value']

After Assigning Example Changed_Credit_Limit:

[10.66, 10.66, 10.66, 10.66, 10.66, 10.66, 10.66, 10.66, 10.66, 10.66, 17.66, 10.66]
[12.13, 5.13, 5.13, 5.13, 5.13, 2.13, 5.13, 5.13, 5.13, 5.13, 5.13, 5.13]
[14.11, 14.11, 14.11, 14.11, 14.11, 14.11, 14.11, 14.11, 14.11, 14.11, 14.11, 14.11]
[16.91, 16.91, 16.91, 16.91, 16.91, 16.91, 19.91, 16.91, 19.91, 16.91, 16.91, 16.91]
[15.28, 15.28, 15.28, 15.28, 19.28, 15.28, 15.28, 15.28, 15.28, 15.28, 15.28, 15.28]

In [153]:
# Num_Credit_Inquiries
df.Num_Credit_Inquiries.value_counts(dropna=False)

4.0       15673
6.0       12486
3.0       12356
7.0       12353
8.0       11788
          ...
1243.0        1
540.0         1
2150.0        1
1324.0        1
352.0         1
Name: Num_Credit_Inquiries, Length: 1608, dtype: int64

In [154]:
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'Num_Credit_Inquiries')

Existing Min, Max Values:
min       0.0
max    2597.0
Name: Num_Credit_Inquiries, dtype: float64

Groupby by Customer_ID's Actual min, max Values:
min:	0.0,
max:	17.0

Before Assigning Min, Max Num_Credit_Inquiries: ['No NaN Value']

Before Assigning Example Num_Credit_Inquiries:

[nan, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 13.0, 13.0, 13.0, 13.0]
[1.0, 1.0, 1.0, 1.0, 1196.0, 1.0, 1.0, 1.0, 1.0, 5.0, 5.0, 5.0]
[6.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 848.0]
[7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 11.0, 11.0, 11.0, 11.0]
[6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 692.0, 10.0, 10.0, 10.0, 10.0]

After Assigning  Min, Max Num_Credit_Inquiries: ['No NaN Value']

After Assigning Example Num_Credit_Inquiries:

[8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 13.0, 13.0, 13.0, 13.0]
[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 5.0, 5.0, 5.0]
[6.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0]
[7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 11.0, 11.0, 11.0, 11.0]
[6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 10.0, 10.0, 10.0, 10.0]

In [155]:
# Outstanding_Debt
df.Outstanding_Debt.value_counts(dropna=False)

1109.03    36
1151.70    36
1360.45    36
460.46     36
1058.13    24
           ..
4230.04    12
641.99     12
98.61      12
2614.48    12
502.38     12
Name: Outstanding_Debt, Length: 12203, dtype: int64

In [156]:
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'Outstanding_Debt')

Existing Min, Max Values:
min       0.23
max    4998.07
Name: Outstanding_Debt, dtype: float64

Groupby by Customer_ID's Actual min, max Values:
min:	0.23,
max:	4998.07

Before Assigning Min, Max Outstanding_Debt: ['No NaN Value']

Before Assigning Example Outstanding_Debt:

[1941.73, 1941.73, 1941.73, 1941.73, 1941.73, 1941.73, 1941.73, 1941.73, 1941.73, 1941.73, 1941.73, 1941.73]
[993.15, 993.15, 993.15, 993.15, 993.15, 993.15, 993.15, 993.15, 993.15, 993.15, 993.15, 993.15]
[1138.97, 1138.97, 1138.97, 1138.97, 1138.97, 1138.97, 1138.97, 1138.97, 1138.97, 1138.97, 1138.97, 1138.97]
[982.44, 982.44, 982.44, 982.44, 982.44, 982.44, 982.44, 982.44, 982.44, 982.44, 982.44, 982.44]
[1371.8, 1371.8, 1371.8, 1371.8, 1371.8, 1371.8, 1371.8, 1371.8, 1371.8, 1371.8, 1371.8, 1371.8]

After Assigning  Min, Max Outstanding_Debt: ['No NaN Value']

After Assigning Example Outstanding_Debt:

[1941.73, 1941.73, 1941.73, 1941.73, 1941.73, 1941.73, 1941.73, 1941.73, 1941.73, 1941.73, 1941.73, 1941.73]
[993.15, 993.15, 993.15, 993.15, 993.15, 993.15, 993.15, 993.15, 993.15, 993.15, 993.15, 993.15]
[1138.97, 1138.97, 1138.97, 1138.97, 1138.97, 1138.97, 1138.97, 1138.97, 1138.97, 1138.97, 1138.97, 1138.97]
[982.44, 982.44, 982.44, 982.44, 982.44, 982.44, 982.44, 982.44, 982.44, 982.44, 982.44, 982.44]
[1371.8, 1371.8, 1371.8, 1371.8, 1371.8, 1371.8, 1371.8, 1371.8, 1371.8, 1371.8, 1371.8, 1371.8]

In [157]:
# Credit_Utilization_Ratio
df.Credit_Utilization_Ratio.value_counts(dropna=False)

26.822620    1
39.377219    1
40.565631    1
41.255522    1
33.638208    1
            ..
26.650258    1
23.864244    1
29.638130    1
31.875399    1
34.108530    1
Name: Credit_Utilization_Ratio, Length: 150000, dtype: int64

In [159]:
df.Credit_Utilization_Ratio.isna().sum()#there is 0 null

0

In [160]:
# Credit_History_Age
df.Credit_History_Age.value_counts(dropna=False)

NaN      13500
215.0      628
220.0      621
219.0      617
237.0      615
         ...
3.0         20
2.0         15
407.0       15
408.0       14
1.0          2
Name: Credit_History_Age, Length: 409, dtype: int64

In [162]:
df['Credit_History_Age'] = df.groupby('Customer_ID', group_keys=False)['Credit_History_Age'].apply(lambda x: x.interpolate().bfill().ffill())

In [163]:
# Total_EMI_per_month
df.Total_EMI_per_month.value_counts(dropna=False)

0.000000        15615
49.574949          12
16.528703          12
64.443403          12
331.719510         12
                ...
10404.000000        1
15457.000000        1
59578.000000        1
43183.000000        1
33013.000000        1
Name: Total_EMI_per_month, Length: 16960, dtype: int64

In [164]:
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'Total_EMI_per_month')

Existing Min, Max Values:
min        0.0
max    82398.0
Name: Total_EMI_per_month, dtype: float64

Groupby by Customer_ID's Actual min, max Values:
min:	0.0,
max:	1779.1032538262775

Before Assigning Min, Max Total_EMI_per_month: ['No NaN Value']

Before Assigning Example Total_EMI_per_month:

[27.44208910654816, 27.44208910654816, 27.44208910654816, 27.44208910654816, 27.44208910654816, 27.44208910654816, 27.44208910654816, 32972.0, 27.44208910654816, 27.44208910654816, 27.44208910654816, 27.44208910654816]
[45.74570037068675, 45.74570037068675, 45.74570037068675, 45.74570037068675, 45.74570037068675, 45.74570037068675, 45.74570037068675, 45.74570037068675, 45.74570037068675, 45.74570037068675, 45.74570037068675, 45.74570037068675]
[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
[188.45659522353543, 188.45659522353543, 188.45659522353543, 188.45659522353543, 188.45659522353543, 188.45659522353543, 188.45659522353543, 188.45659522353543, 188.45659522353543, 188.45659522353543, 188.45659522353543, 188.45659522353543]
[257.7386460249556, 257.7386460249556, 257.7386460249556, 257.7386460249556, 257.7386460249556, 257.7386460249556, 257.7386460249556, 257.7386460249556, 257.7386460249556, 257.7386460249556, 257.7386460249556, 257.7386460249556]

After Assigning  Min, Max Total_EMI_per_month: ['No NaN Value']

After Assigning Example Total_EMI_per_month:

[27.44208910654816, 27.44208910654816, 27.44208910654816, 27.44208910654816, 27.44208910654816, 27.44208910654816, 27.44208910654816, 27.44208910654816, 27.44208910654816, 27.44208910654816, 27.44208910654816, 27.44208910654816]
[45.74570037068675, 45.74570037068675, 45.74570037068675, 45.74570037068675, 45.74570037068675, 45.74570037068675, 45.74570037068675, 45.74570037068675, 45.74570037068675, 45.74570037068675, 45.74570037068675, 45.74570037068675]
[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
[188.45659522353543, 188.45659522353543, 188.45659522353543, 188.45659522353543, 188.45659522353543, 188.45659522353543, 188.45659522353543, 188.45659522353543, 188.45659522353543, 188.45659522353543, 188.45659522353543, 188.45659522353543]
[257.7386460249556, 257.7386460249556, 257.7386460249556, 257.7386460249556, 257.7386460249556, 257.7386460249556, 257.7386460249556, 257.7386460249556, 257.7386460249556, 257.7386460249556, 257.7386460249556, 257.7386460249556]

In [165]:
# Amount_invested_monthly
df.Amount_invested_monthly.value_counts(dropna=False)

NaN             6750
10000.000000    6480
0.000000         275
80.415295          1
16.532189          1
                ...
209.172746         1
333.014809         1
274.687129         1
220.581212         1
220.457878         1
Name: Amount_invested_monthly, Length: 136498, dtype: int64

In [166]:
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'Amount_invested_monthly')

Existing Min, Max Values:
min        0.0
max    10000.0
Name: Amount_invested_monthly, dtype: float64

Groupby by Customer_ID's Actual min, max Values:
min:	0.0,
max:	10000.0

Before Assigning Min, Max Amount_invested_monthly: ['No NaN Value']

Before Assigning Example Amount_invested_monthly:

[45.30106826949194, 90.07842318605292, 61.73271462991577, 56.4949816634165, 51.726244263612, 60.82828780912217, 95.6486475869488, 66.71824831147686, 116.54410553197071, 79.08087443658461, 93.81567846791012, 168.43584020560507]
[30.373471914127194, 44.31995483866171, nan, 62.81248610216079, 148.30956484525, 10000.0, 59.30896122323683, 118.54244614778156, 104.33987358576769, 55.45176127748453, nan, nan]
[118.8806978910128, nan, 337.1997406214716, 170.8689598433119, 74.1980692925824, 105.4573791889266, 197.85037247610126, 165.20443547590202, 50.930150099663045, 86.4414839594447, 351.92301846584564, 55.62866930298164]
[149.37725143584314, 146.97809602243544, 101.12020124815511, 492.3974911743151, 264.1791118544216, 261.69017894140734, 200.64143588981403, 126.07161584554541, 684.6651624547051, 103.13758327637464, 110.66061982791805, 161.67162412887268]
[292.2127037381353, nan, 187.59489650806347, 275.635709774446, 487.8062062008502, nan, 124.29952362711306, 481.7990883470461, 631.9932676909148, 772.3790958015891, 102.48803392235304, 474.3649639513685]

After Assigning  Min, Max Amount_invested_monthly: ['No NaN Value']

After Assigning Example Amount_invested_monthly:

[45.30106826949194, 90.07842318605292, 61.73271462991577, 56.4949816634165, 51.726244263612, 60.82828780912217, 95.6486475869488, 66.71824831147686, 116.54410553197071, 79.08087443658461, 93.81567846791012, 168.43584020560507]
[30.373471914127194, 44.31995483866171, 30.373471914127194, 62.81248610216079, 148.30956484525, 10000.0, 59.30896122323683, 118.54244614778156, 104.33987358576769, 55.45176127748453, 30.373471914127194, 30.373471914127194]
[118.8806978910128, 50.930150099663045, 337.1997406214716, 170.8689598433119, 74.1980692925824, 105.4573791889266, 197.85037247610126, 165.20443547590202, 50.930150099663045, 86.4414839594447, 351.92301846584564, 55.62866930298164]
[149.37725143584314, 146.97809602243544, 101.12020124815511, 492.3974911743151, 264.1791118544216, 261.69017894140734, 200.64143588981403, 126.07161584554541, 684.6651624547051, 103.13758327637464, 110.66061982791805, 161.67162412887268]
[292.2127037381353, 102.48803392235304, 187.59489650806347, 275.635709774446, 487.8062062008502, 102.48803392235304, 124.29952362711306, 481.7990883470461, 631.9932676909148, 772.3790958015891, 102.48803392235304, 474.3649639513685]

In [167]:
# Monthly_Balance
df.Monthly_Balance.value_counts(dropna=False)

 NaN             1762
-3.333333e+26      15
 6.001125e+02       1
 1.205425e+02       1
 7.840175e+02       1
                 ...
 2.799825e+02       1
 2.606716e+02       1
 2.504915e+02       1
 2.438753e+02       1
 3.603797e+02       1
Name: Monthly_Balance, Length: 148225, dtype: int64

In [168]:
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'Monthly_Balance')

Existing Min, Max Values:
min   -3.333333e+26
max    1.606518e+03
Name: Monthly_Balance, dtype: float64

Groupby by Customer_ID's Actual min, max Values:
min:	-3.333333333333333e+26,
max:	1183.9306960885192

Before Assigning Min, Max Monthly_Balance: ['No NaN Value']

Before Assigning Example Monthly_Balance:

[310.39167595729333, 295.61432104073225, 333.9600295968694, 309.1977625633686, 323.9664999631732, 334.864456417663, 280.04409663983637, 328.97449591530835, 279.14863869481445, 306.61186979020056, 301.87706575887506, 227.25690402118008]
[323.5550777151861, 309.6085947906515, 265.4874646531188, 291.11606352715245, 245.61898478406326, 239.46481499922072, 334.61958840607645, 275.3861034815317, 279.58867604354555, 318.4767883518287, 260.7342254927612, 307.57591763672826]
[406.62288544232047, 350.39351957834924, 218.30384271186168, 354.63462349002145, 441.30551404075095, 420.04620414440666, 337.6532108572321, 370.2991478574313, 474.5734332336703, 439.0620993738886, 203.58056486748768, 459.8749140303517]
[581.4298200072883, 573.8289754206959, 629.6868701949761, 258.40958026881617, 496.6279595887097, 489.116892501724, 560.1656355533173, 594.7354555975859, 76.14190898842622, 617.6694881667568, 620.1464516152132, 569.1354473142586]
[553.4033169035758, 228.71773015063442, 648.0211241336477, 579.9803108672652, 377.809814440861, nan, 701.3164970145981, 383.81693229466515, 223.62275295079644, 93.23692484012213, 723.1279867193582, 401.2510566903428]

After Assigning  Min, Max Monthly_Balance: ['No NaN Value']

After Assigning Example Monthly_Balance:

[310.39167595729333, 295.61432104073225, 333.9600295968694, 309.1977625633686, 323.9664999631732, 334.864456417663, 280.04409663983637, 328.97449591530835, 279.14863869481445, 306.61186979020056, 301.87706575887506, 227.25690402118008]
[323.5550777151861, 309.6085947906515, 265.4874646531188, 291.11606352715245, 245.61898478406326, 239.46481499922072, 334.61958840607645, 275.3861034815317, 279.58867604354555, 318.4767883518287, 260.7342254927612, 307.57591763672826]
[406.62288544232047, 350.39351957834924, 218.30384271186168, 354.63462349002145, 441.30551404075095, 420.04620414440666, 337.6532108572321, 370.2991478574313, 474.5734332336703, 439.0620993738886, 203.58056486748768, 459.8749140303517]
[581.4298200072883, 573.8289754206959, 629.6868701949761, 258.40958026881617, 496.6279595887097, 489.116892501724, 560.1656355533173, 594.7354555975859, 76.14190898842622, 617.6694881667568, 620.1464516152132, 569.1354473142586]
[553.4033169035758, 228.71773015063442, 648.0211241336477, 579.9803108672652, 377.809814440861, 93.23692484012213, 701.3164970145981, 383.81693229466515, 223.62275295079644, 93.23692484012213, 723.1279867193582, 401.2510566903428]

### Df cleaning is ended

In [169]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,5634,3392,1,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,26.822620,265.0,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,5635,3392,2,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.944960,266.0,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,5636,3392,3,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,28.609352,267.0,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,5637,3392,4,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.377862,268.0,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,5638,3392,5,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,24.797347,269.0,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,155621,34304,12,Sarah McBridec,28.0,31350942.0,Architect,20002.88,1929.906667,10.0,...,Bad,3571.70,34.780553,78.0,Yes,60.964772,146.486325,Low_spent_Small_value_payments,275.539570,NaN
149996,155630,37932,9,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,27.758522,383.0,NM,35.104023,181.442999,Low_spent_Small_value_payments,409.394562,NaN
149997,155631,37932,10,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,36.858542,384.0,No,35.104023,10000.000000,Low_spent_Large_value_payments,349.726332,NaN
149998,155632,37932,11,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,39.139840,385.0,No,35.104023,97.598580,High_spent_Small_value_payments,463.238981,NaN
149999,155633,37932,12,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,34.108530,386.0,No,35.104023,220.457878,Low_spent_Medium_value_payments,360.379683,NaN

In [171]:
df.isna().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                            0
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary           0
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                    0
Delay_from_due_date             0
Num_of_Delayed_Payment          0
Changed_Credit_Limit            0
Num_Credit_Inquiries            0
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age              0
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly         0
Payment_Behaviour               0
Monthly_Balance                 0
Credit_Score                50000
dtype: int64

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        150000 non-null  int64
 1   Customer_ID               150000 non-null  int64
 2   Month                     150000 non-null  int64
 3   Name                      150000 non-null  object
 4   Age                       150000 non-null  float64
 5   SSN                       150000 non-null  float64
 6   Occupation                150000 non-null  object
 7   Annual_Income             150000 non-null  float64
 8   Monthly_Inhand_Salary     150000 non-null  float64
 9   Num_Bank_Accounts         150000 non-null  float64
 10  Num_Credit_Card           150000 non-null  float64
 11  Interest_Rate             150000 non-null  float64
 12  Num_of_Loan               150000 non-null  float64
 13  Type_of_Loan              150000 non-null  object
 14  Delay_from_due_date       150000 non-null  float64
 15  Num_of_Delayed_Payment    150000 non-null  float64
 16  Changed_Credit_Limit      150000 non-null  float64
 17  Num_Credit_Inquiries      150000 non-null  float64
 18  Credit_Mix                150000 non-null  object
 19  Outstanding_Debt          150000 non-null  float64
 20  Credit_Utilization_Ratio  150000 non-null  float64
 21  Credit_History_Age        150000 non-null  float64
 22  Payment_of_Min_Amount     150000 non-null  object
 23  Total_EMI_per_month       150000 non-null  float64
 24  Amount_invested_monthly   150000 non-null  float64
 25  Payment_Behaviour         150000 non-null  object
 26  Monthly_Balance           150000 non-null  float64
 27  Credit_Score              100000 non-null  object
dtypes: float64(18), int64(3), object(7)
memory usage: 32.0+ MB

In [173]:
# Saving the clean data
df.to_csv("clean_credit_score_data.csv", index=False)

In [4]:
df = pd.read_csv('/Users/beyazituysal/Documents/PythonProjects/MLalgorithm/classifications/clean_credit_score_data.csv', low_memory=False)

In [5]:
df[df['Num_Bank_Accounts']<0]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
30330,51128,20266,3,Margaretf,39.0,807035415.0,Engineer,128305.76,10434.146667,-1.0,...,Good,1151.70,40.586736,269.0,No,196.587321,230.922386,High_spent_Large_value_payments,855.904960,Standard
30331,51129,20266,4,Margaretf,40.0,807035415.0,Engineer,128305.76,10434.146667,-1.0,...,Good,1151.70,39.369401,270.0,No,196.587321,524.304418,Low_spent_Large_value_payments,592.522928,Good
30332,51130,20266,5,Margaretf,40.0,807035415.0,Engineer,128305.76,10434.146667,-1.0,...,Good,1151.70,28.702053,271.0,No,196.587321,150.096675,High_spent_Large_value_payments,936.730670,Good
30333,51131,20266,6,Margaretf,40.0,807035415.0,Engineer,128305.76,10434.146667,-1.0,...,Good,1151.70,34.808390,272.0,No,196.587321,1006.698069,Low_spent_Medium_value_payments,120.129276,Good
30334,51132,20266,7,Margaretf,40.0,807035415.0,Engineer,128305.76,10434.146667,-1.0,...,Good,1151.70,35.206427,273.0,No,196.587321,172.992021,High_spent_Large_value_payments,913.835324,Good
30335,51133,20266,8,Margaretf,40.0,807035415.0,Engineer,128305.76,10434.146667,-1.0,...,Good,1151.70,38.278518,274.0,No,196.587321,338.672303,High_spent_Medium_value_payments,758.155042,Good
43689,71167,43128,2,Douwe Miedemaz,54.0,300544627.0,Engineer,117851.07,9870.922500,-1.0,...,Good,607.78,37.286105,246.0,No,0.000000,668.144454,High_spent_Large_value_payments,588.947796,Poor
43690,71168,43128,3,Douwe Miedemaz,54.0,300544627.0,Engineer,117851.07,9870.922500,-1.0,...,Good,607.78,41.915627,247.0,No,0.000000,142.319789,High_spent_Large_value_payments,1084.772461,Poor
43691,71169,43128,4,Douwe Miedemaz,54.0,300544627.0,Engineer,117851.07,9870.922500,-1.0,...,Good,607.78,41.799942,248.0,No,0.000000,467.563923,High_spent_Small_value_payments,779.528327,Poor
43692,71170,43128,5,Douwe Miedemaz,54.0,300544627.0,Engineer,117851.07,9870.922500,-1.0,...,Good,607.78,46.244581,249.0,No,0.000000,142.319789,High_spent_Large_value_payments,1037.506338,Poor
43693,71171,43128,6,Douwe Miedemaz,54.0,300544627.0,Engineer,117851.07,9870.922500,-1.0,...,Good,607.78,32.303737,250.0,No,0.000000,218.005223,High_spent_Medium_value_payments,1019.087027,Poor
43694,71172,43128,7,Douwe Miedemaz,54.0,300544627.0,Engineer,117851.07,9870.922500,-1.0,...,Good,607.78,30.709169,251.0,No,0.000000,352.801158,High_spent_Medium_value_payments,884.291092,Poor
43695,71173,43128,8,Douwe Miedemaz,54.0,300544627.0,Engineer,117851.07,9870.922500,-1.0,...,Good,607.78,34.041733,252.0,No,0.000000,467.415825,High_spent_Small_value_payments,779.676425,Poor
47212,76450,17340,5,Patrick Werrl,36.0,307068196.0,Lawyer,22312.07,2013.339167,-1.0,...,Good,51.37,40.402442,283.0,No,32.891186,10000.000000,High_spent_Small_value_payments,341.097261,Good
47213,76451,17340,6,Patrick Werrl,36.0,307068196.0,Lawyer,22312.07,2013.339167,-1.0,...,Good,51.37,34.824443,284.0,No,32.891186,39.796807,High_spent_Medium_value_payments,378.645923,Good
47214,76452,17340,7,Patrick Werrl,36.0,307068196.0,Lawyer,22312.07,2013.339167,-1.0,...,Good,51.37,25.649329,285.0,No,32.891186,148.932752,Low_spent_Large_value_payments,289.509979,Standard
47215,76453,17340,8,Patrick Werrl,36.0,307068196.0,Lawyer,22312.07,2013.339167,-1.0,...,Good,51.37,30.059211,286.0,No,32.891186,23.003094,High_spent_Medium_value_payments,395.439637,Good
55636,89086,22931,5,Stephensonq,40.0,120482348.0,Developer,30352.11,2317.342500,-1.0,...,Good,644.57,25.532001,285.0,NM,16.483566,126.665345,Low_spent_Medium_value_payments,368.585338,Standard
55637,89087,22931,6,Stephensonq,40.0,120482348.0,Developer,30352.11,2317.342500,-1.0,...,Good,644.57,31.813259,286.0,No,16.483566,54.821327,High_spent_Large_value_payments,400.429357,Standard
55638,89088,22931,7,Stephensonq,41.0,120482348.0,Developer,30352.11,2317.342500,-1.0,...,Good,644.57,26.574175,287.0,No,16.483566,64.860838,Low_spent_Small_value_payments,400.389846,Standard
55639,89089,22931,8,Stephensonq,41.0,120482348.0,Developer,30352.11,2317.342500,-1.0,...,Good,644.57,32.937399,288.0,No,16.483566,89.622962,High_spent_Medium_value_payments,375.627721,Standard
115164,51134,20266,9,Margaretf,40.0,807035415.0,Engineer,128305.76,10434.146667,-1.0,...,Good,1151.70,27.350622,275.0,No,196.587321,810.374763,Low_spent_Medium_value_payments,316.452582,NaN
115165,51135,20266,10,Margaretf,40.0,807035415.0,Engineer,128305.76,10434.146667,-1.0,...,Good,1151.70,41.164517,276.0,No,196.587321,260.432744,High_spent_Large_value_payments,826.394602,NaN
115166,51136,20266,11,Margaretf,40.0,807035415.0,Engineer,128305.76,10434.146667,-1.0,...,Good,1151.70,38.488182,277.0,No,196.587321,520.232717,Low_spent_Small_value_payments,616.594629,NaN
115167,51137,20266,12,Margaretf,40.0,807035415.0,Engineer,128305.76,10434.146667,-1.0,...,Good,1151.70,30.521703,278.0,No,196.587321,427.686525,Low_spent_Small_value_payments,709.140820,NaN
121844,71174,43128,9,Douwe Miedemaz,55.0,300544627.0,Engineer,117851.07,9870.922500,-1.0,...,Good,607.78,37.540966,253.0,No,0.000000,142.319789,High_spent_Large_value_payments,1066.056735,NaN
121845,71175,43128,10,Douwe Miedemaz,55.0,300544627.0,Engineer,117851.07,9870.922500,-1.0,...,Good,607.78,29.361884,254.0,NM,0.000000,611.742968,Low_spent_Large_value_payments,645.349282,NaN
121846,71176,43128,11,Douwe Miedemaz,55.0,300544627.0,Engineer,117851.07,9870.922500,-1.0,...,Good,607.78,26.050629,255.0,No,0.000000,720.031915,Low_spent_Large_value_payments,537.060335,NaN
121847,71177,43128,12,Douwe Miedemaz,55.0,300544627.0,Engineer,117851.07,9870.922500,-1.0,...,Good,607.78,34.202061,256.0,No,0.000000,845.971540,Low_spent_Medium_value_payments,421.120710,NaN
123604,76454,17340,9,Patrick Werrl,37.0,307068196.0,Lawyer,22312.07,2013.339167,-1.0,...,Good,51.37,28.031722,287.0,No,32.891186,133.696194,Low_spent_Small_value_payments,324.746537,NaN
123605,76455,17340,10,Patrick Werrl,37.0,307068196.0,Lawyer,22312.07,2013.339167,-1.0,...,Good,51.37,29.948408,288.0,No,32.891186,182.734329,Low_spent_Medium_value_payments,265.708401,NaN
123606,76456,17340,11,Patrick Werrl,37.0,307068196.0,Lawyer,22312.07,2013.339167,-1.0,...,Good,51.37,25.773086,289.0,No,32.891186,268.447536,Low_spent_Small_value_payments,189.995194,NaN
123607,76457,17340,12,Patrick Werrl,37.0,307068196.0,Lawyer,22312.07,2013.339167,-1.0,...,Good,51.37,33.716313,290.0,No,32.891186,49.491973,High_spent_Medium_value_payments,368.950757,NaN
127816,89090,22931,9,Stephensonq,41.0,120482348.0,Developer,30352.11,2317.342500,-1.0,...,Good,644.57,32.468370,289.0,No,16.483566,291.127877,Low_spent_Small_value_payments,214.122807,NaN
127817,89091,22931,10,Stephensonq,41.0,120482348.0,Developer,30352.11,2317.342500,-1.0,...,Good,644.57,36.605320,290.0,NM,16.483566,75.160896,High_spent_Medium_value_payments,390.089788,NaN
127818,89092,22931,11,Stephensonq,41.0,120482348.0,Developer,30352.11,2317.342500,-1.0,...,Good,644.57,28.301857,291.0,No,16.483566,175.280375,Low_spent_Large_value_payments,309.970309,NaN
127819,89093,22931,12,Stephensonq,41.0,120482348.0,Developer,30352.11,2317.342500,-1.0,...,Good,644.57,24.549338,292.0,No,16.483566,240.817378,Low_spent_Small_value_payments,264.433305,NaN

In [6]:
df[df['Num_Bank_Accounts']<0]['Customer_ID'].unique()

array([20266, 43128, 17340, 22931])

In [7]:
df[df['Customer_ID']==22931]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
55632,89082,22931,1,Stephensonq,41.0,120482348.0,Developer,30352.11,2317.3425,0.0,...,Good,644.57,37.488977,281.0,No,16.483566,187.641645,Low_spent_Small_value_payments,317.609039,Standard
55633,89083,22931,2,Stephensonq,40.0,120482348.0,Developer,30352.11,2317.3425,0.0,...,Good,644.57,30.230648,282.0,No,16.483566,143.322972,High_spent_Small_value_payments,331.927711,Standard
55634,89084,22931,3,Stephensonq,40.0,120482348.0,Developer,30352.11,2317.3425,0.0,...,Good,644.57,38.822428,283.0,No,16.483566,60.681956,High_spent_Small_value_payments,414.568728,Standard
55635,89085,22931,4,Stephensonq,40.0,120482348.0,Developer,30352.11,2317.3425,0.0,...,Good,644.57,36.351893,284.0,NM,16.483566,54.569799,High_spent_Large_value_payments,400.680884,Standard
55636,89086,22931,5,Stephensonq,40.0,120482348.0,Developer,30352.11,2317.3425,-1.0,...,Good,644.57,25.532001,285.0,NM,16.483566,126.665345,Low_spent_Medium_value_payments,368.585338,Standard
55637,89087,22931,6,Stephensonq,40.0,120482348.0,Developer,30352.11,2317.3425,-1.0,...,Good,644.57,31.813259,286.0,No,16.483566,54.821327,High_spent_Large_value_payments,400.429357,Standard
55638,89088,22931,7,Stephensonq,41.0,120482348.0,Developer,30352.11,2317.3425,-1.0,...,Good,644.57,26.574175,287.0,No,16.483566,64.860838,Low_spent_Small_value_payments,400.389846,Standard
55639,89089,22931,8,Stephensonq,41.0,120482348.0,Developer,30352.11,2317.3425,-1.0,...,Good,644.57,32.937399,288.0,No,16.483566,89.622962,High_spent_Medium_value_payments,375.627721,Standard
127816,89090,22931,9,Stephensonq,41.0,120482348.0,Developer,30352.11,2317.3425,-1.0,...,Good,644.57,32.468370,289.0,No,16.483566,291.127877,Low_spent_Small_value_payments,214.122807,NaN
127817,89091,22931,10,Stephensonq,41.0,120482348.0,Developer,30352.11,2317.3425,-1.0,...,Good,644.57,36.605320,290.0,NM,16.483566,75.160896,High_spent_Medium_value_payments,390.089788,NaN
127818,89092,22931,11,Stephensonq,41.0,120482348.0,Developer,30352.11,2317.3425,-1.0,...,Good,644.57,28.301857,291.0,No,16.483566,175.280375,Low_spent_Large_value_payments,309.970309,NaN
127819,89093,22931,12,Stephensonq,41.0,120482348.0,Developer,30352.11,2317.3425,-1.0,...,Good,644.57,24.549338,292.0,No,16.483566,240.817378,Low_spent_Small_value_payments,264.433305,NaN

In [8]:
df.loc[df['Num_Bank_Accounts']<0, 'Num_Bank_Accounts'] = 0

In [9]:
df[df['Delay_from_due_date']<0]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
1,5635,3392,2,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.944960,266.0,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
49,5707,10314,2,Nadiaq,34.0,411510676.0,Lawyer,131313.40,11242.783333,0.0,...,Good,352.16,31.983710,368.0,No,137.644605,698.873271,High_spent_Small_value_payments,547.760457,Good
78,5748,47624,7,Jamesj,45.0,366681681.0,Journalist,31370.80,2825.233333,1.0,...,Good,421.43,22.762202,323.0,No,46.616129,188.394900,Low_spent_Small_value_payments,337.512304,Good
88,5766,49323,1,Soyoungd,32.0,342902649.0,Engineer,88640.24,7266.686667,3.0,...,Good,950.36,28.210617,305.0,No,135.173371,98.931764,High_spent_Large_value_payments,732.563532,Standard
95,5773,49323,8,Soyoungd,33.0,342902649.0,Engineer,88640.24,7266.686667,3.0,...,Good,950.36,30.870799,312.0,No,135.173371,98.441951,High_spent_Large_value_payments,733.053344,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148361,150723,30655,10,Clarkb,46.0,454708973.0,Entrepreneur,83158.26,7033.855000,1.0,...,Good,241.08,39.050600,275.0,No,186.877567,242.869220,High_spent_Medium_value_payments,523.638713,NaN
148785,151995,47927,10,Paul Carstenu,33.0,94945212.0,Developer,74557.58,6114.131667,2.0,...,Good,206.26,31.645554,372.0,No,0.000000,465.273618,Low_spent_Medium_value_payments,426.139549,NaN
148916,152390,8125,9,Jane Chungn,41.0,905878021.0,Writer,76881.84,6529.820000,3.0,...,Good,257.87,34.182851,335.0,No,61.440036,143.754584,High_spent_Large_value_payments,687.787379,NaN
149287,153497,23286,12,Maril,26.0,15208263.0,Accountant,123915.99,10336.332500,3.0,...,Good,1394.91,38.054845,208.0,No,156.988147,691.923200,Low_spent_Medium_value_payments,464.721903,NaN
149321,153603,4164,10,Maki Shirakip,44.0,261184430.0,Entrepreneur,33441.59,2748.799167,2.0,...,Good,154.96,29.891189,385.0,No,0.000000,371.450586,Low_spent_Small_value_payments,193.429331,NaN

In [10]:
df[df['Customer_ID']==48234].iloc[:,0:15]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date
93536,145938,48234,1,Andreasz,51.0,669332894.0,Media_Manager,174921.92,14707.826667,2.0,4.0,12.0,0.0,No Data,2.0
93537,145939,48234,2,Andreasz,51.0,669332894.0,Media_Manager,174921.92,14707.826667,2.0,4.0,12.0,0.0,No Data,2.0
93538,145940,48234,3,Andreasz,51.0,669332894.0,Media_Manager,174921.92,14707.826667,2.0,4.0,12.0,0.0,No Data,2.0
93539,145941,48234,4,Andreasz,51.0,669332894.0,Media_Manager,174921.92,14707.826667,2.0,4.0,12.0,0.0,No Data,2.0
93540,145942,48234,5,Andreasz,51.0,669332894.0,Media_Manager,174921.92,14707.826667,2.0,4.0,12.0,0.0,No Data,2.0
93541,145943,48234,6,Andreasz,51.0,669332894.0,Media_Manager,174921.92,14707.826667,2.0,4.0,12.0,0.0,No Data,2.0
93542,145944,48234,7,Andreasz,51.0,669332894.0,Media_Manager,174921.92,14707.826667,2.0,4.0,12.0,0.0,No Data,2.0
93543,145945,48234,8,Andreasz,52.0,669332894.0,Media_Manager,174921.92,14707.826667,2.0,4.0,12.0,0.0,No Data,2.0
146768,145946,48234,9,Andreasz,52.0,669332894.0,Media_Manager,174921.92,14707.826667,2.0,4.0,12.0,0.0,No Data,2.0
146769,145947,48234,10,Andreasz,52.0,669332894.0,Media_Manager,174921.92,14707.826667,2.0,4.0,12.0,0.0,No Data,2.0
146770,145948,48234,11,Andreasz,52.0,669332894.0,Media_Manager,174921.92,14707.826667,2.0,4.0,12.0,0.0,No Data,6.0
146771,145949,48234,12,Andreasz,52.0,669332894.0,Media_Manager,174921.92,14707.826667,2.0,4.0,12.0,0.0,No Data,-1.0

In [11]:
df.loc[df['Delay_from_due_date']<0, 'Delay_from_due_date'] = None

In [12]:
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'Delay_from_due_date')

Existing Min, Max Values:
min     0.0
max    62.0
Name: Delay_from_due_date, dtype: float64

Groupby by Customer_ID's Actual min, max Values:
min:	0.0,
max:	62.0

Before Assigning Min, Max Delay_from_due_date: ['No NaN Value']

Before Assigning Example Delay_from_due_date:

[48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 50.0, 48.0, 53.0]
[19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 16.0, 20.0, 19.0, 15.0, 19.0]
[25.0, 28.0, 22.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 21.0, 26.0]
[19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 18.0, 21.0, 19.0]
[15.0, 15.0, 20.0, 16.0, 20.0, 20.0, 20.0, 24.0, 25.0, 20.0, 20.0, 20.0]

After Assigning  Min, Max Delay_from_due_date: ['No NaN Value']

After Assigning Example Delay_from_due_date:

[48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 50.0, 48.0, 53.0]
[19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 16.0, 20.0, 19.0, 15.0, 19.0]
[25.0, 28.0, 22.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 21.0, 26.0]
[19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 18.0, 21.0, 19.0]
[15.0, 15.0, 20.0, 16.0, 20.0, 20.0, 20.0, 24.0, 25.0, 20.0, 20.0, 20.0]

In [13]:
df[df['Num_of_Delayed_Payment']<0]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
10,5648,8625,3,Rick Rothackerj,28.0,4075839.0,Teacher,34847.840,3037.986667,2.0,...,Good,605.03,33.224951,321.0,No,18.816215,58.515976,High_spent_Large_value_payments,466.466476,Standard
698,6680,29152,3,Aruna Viswanathau,28.0,330960638.0,Mechanic,15398.950,1548.245833,1.0,...,Good,343.84,33.494442,341.0,NM,34.813970,47.607470,High_spent_Medium_value_payments,322.403143,Standard
1561,7975,45940,2,enu,32.0,946089738.0,Architect,30922.280,2494.856667,1.0,...,Good,957.53,39.135924,256.0,No,30.338204,159.523585,Low_spent_Large_value_payments,329.623877,Poor
2167,8881,10251,8,orv,27.0,434178443.0,Accountant,34841.870,3025.489167,1.0,...,Good,142.05,38.351183,374.0,No,33.366098,174.874086,Low_spent_Medium_value_payments,374.308732,Standard
2224,8970,3333,1,Daniel Flynnu,45.0,600021948.0,Musician,132537.240,10831.770000,3.0,...,Good,382.04,44.604220,353.0,No,60.510150,210.350125,High_spent_Large_value_payments,1052.316725,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149243,153365,12580,12,Philz,54.0,921270890.0,Journalist,43502.680,3733.223333,0.0,...,Good,862.14,28.283294,318.0,No,32.032328,503.575571,Low_spent_Small_value_payments,127.714435,NaN
149285,153495,23286,10,Maril,26.0,15208263.0,Accountant,123915.990,10336.332500,3.0,...,Good,1394.91,36.333194,206.0,NM,156.988147,260.694372,High_spent_Large_value_payments,855.950731,NaN
149288,153506,40156,9,Mostafavin,24.0,187132907.0,Scientist,16937.425,1162.452083,4.0,...,Good,167.57,27.203021,265.0,No,7.247943,100.919000,Low_spent_Medium_value_payments,288.078266,NaN
149289,153507,40156,10,Mostafavin,24.0,187132907.0,Scientist,16937.425,1162.452083,4.0,...,Good,167.57,33.875308,266.0,No,7.247943,123.801030,Low_spent_Small_value_payments,275.196236,NaN
149290,153508,40156,11,Mostafavin,24.0,187132907.0,Scientist,16937.425,1162.452083,4.0,...,Good,167.57,28.322715,267.0,No,7.247943,57.574225,Low_spent_Medium_value_payments,331.423041,NaN

In [14]:
df[df['Num_of_Delayed_Payment']<0]['Customer_ID'].unique()

array([ 8625, 29152, 45940, 10251,  3333,  3929, 21293,  4426, 25414,
       16167, 21322, 10123, 35188, 26218, 28910, 32265, 11773, 47754,
       14290, 20016, 19075, 49507, 13075, 48148, 45080,  4477, 37628,
       35058, 19758, 17488, 11148, 13654, 36050, 33615, 11176,  4829,
       48209, 34440, 44404, 47715, 10269, 39909, 26631, 31123, 39182,
       13666,  9624,  3559, 15614, 47448, 19145, 25434, 33042,  1604,
       48331, 11426, 13888, 41376, 48578, 44043,  5136, 27608,  2221,
       29037, 35859, 18007, 45442, 48633, 16890, 43386, 23420, 25655,
        2170,  4483,  5754, 32772,  8778,  3626, 26972,  8668, 15729,
       37190, 10351, 17846, 38293, 20868, 30410, 50983, 11542, 45048,
       21518, 35124, 29088, 22029, 39733, 21719, 11988, 44699, 42964,
       37741, 36766, 13582, 39656, 31866, 23184,  5843, 50902, 20553,
       35440, 44118, 21037, 32270, 44792, 44787, 24955, 43895, 47613,
       15925, 18596,  8978, 41665, 49076,  4640, 17192, 13592, 47760,
       31094,  8727, 28775, 19677, 23884, 24105,  3317, 49221, 19921,
       10646, 41452, 28359, 47830, 29895, 27354, 17578, 35377, 23330,
        8729, 50375, 23386, 11602, 27743, 11245, 30931, 33209,  6127,
       40577, 30481, 38181, 26041, 48857, 45668, 34436, 16975, 38259,
       15832, 47105, 23911, 47108, 15100, 32240, 48899, 49130, 42764,
        6387, 23374, 12439, 17247, 15495, 28140,  2994, 32561, 14905,
        3780, 43379, 31061, 50602, 41838, 20751, 48090, 27257, 43862,
        7226, 34875, 28017,  3408,  3749,  5300, 48528, 38650, 23469,
       38754, 20201, 47166,  2354, 30361, 49623,  4662, 37993, 17732,
       49405, 14000, 28929, 38697,  4399, 32479, 35541,  9339, 45946,
       14409,  1968, 15425, 20952, 12863, 33775, 27909, 25867, 43993,
       15769, 34791, 28101, 23903, 27481, 42599, 47534,  8196, 50207,
       46960, 19640, 50771, 37624, 10541, 17923, 24997,  8487, 20589,
        1146, 48913, 32066, 24812, 39279, 28633, 15866,  7929, 26327,
       16508, 44892, 12693, 26312, 37702, 44669, 31263,  3841, 10941,
       20147, 10448, 50447, 44956,  5976, 14766, 36007,  2895, 23666,
       15554,  2340, 29036, 14869, 40554,  8560, 36162,  8653, 46241,
       36107, 21124, 23525, 30396, 10074, 22006, 30021, 18665, 18447,
       35838,  6128, 26296, 50358, 25388, 40697, 17743, 46962, 28165,
       45975, 18941, 11649, 24911, 29705, 32353, 40111,  3920,  3267,
       16852, 12451, 29928, 34779, 12528, 46648, 15555,  9468, 39490,
       42806,  9803, 49867, 33230,  5356, 49137, 38534, 27619, 30841,
       24878, 20060, 33751, 33854, 42478, 28398, 47381, 25999, 10007,
       29827, 42881, 19966, 25079, 41393, 11218, 13920, 26258, 42192,
       35384, 39259, 47850, 13832, 11757,  9176, 45858, 19111, 26910,
        9713, 48753, 15230, 39266, 11782, 40356, 48973,  7136, 11068,
        8575, 40807, 30718, 21519, 16952, 39025, 32554, 44925, 40914,
       41106,  2424,  3028, 19094, 30030, 23067, 33771, 37245, 27265,
       10010, 40803, 35341, 41413, 32197, 42344, 15772, 40156, 12920,
       42604,  4345,  1348, 14124, 16132, 13914,  8970, 12757, 26135,
       38260, 43124, 44558,  9342, 26418, 40085, 17346, 18364,  3111,
        2341, 43042, 43581,  6576, 17660, 21369, 34701, 40908, 34215,
        7774, 44530,  5893, 24534, 26171, 28014, 45052, 46467, 31075,
       31533,  2228, 22057, 27740, 23661, 20286,  4578, 15158,  7406,
       47812, 49777, 49748, 20348, 27908, 15136, 29586,  8281,  7641,
       48998, 36059,  4678, 28188, 28827, 20678, 32087,  9447, 25403,
        4074, 24034, 19198, 46013, 35428, 18531, 20004, 40239,  1073,
       28475, 26347, 42503,  8450, 34152, 33993, 46359, 29995, 11494,
        4063, 11268, 10379, 19636, 15947, 15485,  6160,  9428, 46237,
        3137, 20237, 48445, 23925, 29925, 32102,  3981, 26872, 38827,
       24142,  9077,  5736, 36881, 18905, 12580, 23286])

In [15]:
df[df['Customer_ID']==8625].iloc[:,0:20]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt
8,5646,8625,1,Rick Rothackerj,28.0,4075839.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,1.0,Credit-Builder Loan,3.0,4.0,5.42,2.0,Good,605.03
9,5647,8625,2,Rick Rothackerj,28.0,4075839.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,1.0,Credit-Builder Loan,7.0,1.0,7.42,2.0,Good,605.03
10,5648,8625,3,Rick Rothackerj,28.0,4075839.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,1.0,Credit-Builder Loan,3.0,-1.0,5.42,2.0,Good,605.03
11,5649,8625,4,Rick Rothackerj,28.0,4075839.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,1.0,Credit-Builder Loan,3.0,3.0,5.42,2.0,Good,605.03
12,5650,8625,5,Rick Rothackerj,28.0,4075839.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,1.0,Credit-Builder Loan,3.0,1.0,6.42,2.0,Good,605.03
13,5651,8625,6,Rick Rothackerj,28.0,4075839.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,1.0,Credit-Builder Loan,3.0,0.0,5.42,2.0,Good,605.03
14,5652,8625,7,Rick Rothackerj,28.0,4075839.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,1.0,Credit-Builder Loan,3.0,4.0,5.42,2.0,Good,605.03
15,5653,8625,8,Rick Rothackerj,28.0,4075839.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,1.0,Credit-Builder Loan,3.0,4.0,5.42,2.0,Good,605.03
100004,5654,8625,9,Rick Rothackerj,28.0,4075839.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,1.0,Credit-Builder Loan,3.0,1.0,5.42,5.0,Good,605.03
100005,5655,8625,10,Rick Rothackerj,28.0,4075839.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,1.0,Credit-Builder Loan,3.0,3.0,5.42,5.0,Good,605.03
100006,5656,8625,11,Rick Rothackerj,28.0,4075839.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,1.0,Credit-Builder Loan,3.0,1.0,5.42,5.0,Good,605.03
100007,5657,8625,12,Rick Rothackerj,28.0,4075839.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,1.0,Credit-Builder Loan,3.0,2.0,7.42,5.0,Good,605.03

In [16]:
df.loc[df['Num_of_Delayed_Payment']<0, 'Num_of_Delayed_Payment'] = None

In [17]:
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'Num_of_Delayed_Payment')

Existing Min, Max Values:
min     0.0
max    25.0
Name: Num_of_Delayed_Payment, dtype: float64

Groupby by Customer_ID's Actual min, max Values:
min:	0.0,
max:	25.0

Before Assigning Min, Max Num_of_Delayed_Payment: ['No NaN Value']

Before Assigning Example Num_of_Delayed_Payment:

[10.0, 12.0, 12.0, 13.0, 12.0, 12.0, 11.0, 12.0, 12.0, 12.0, 11.0, 12.0]
[19.0, 19.0, 19.0, 19.0, 19.0, 21.0, 20.0, 19.0, 19.0, 18.0, 19.0, 20.0]
[11.0, 11.0, 11.0, 11.0, 11.0, 11.0, 11.0, 13.0, 12.0, 11.0, 13.0, 11.0]
[18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 20.0, 18.0, 18.0, 18.0, 18.0, 18.0]
[17.0, 16.0, 14.0, 14.0, 17.0, 14.0, 11.0, 14.0, 14.0, 14.0, 17.0, 12.0]

After Assigning  Min, Max Num_of_Delayed_Payment: ['No NaN Value']

After Assigning Example Num_of_Delayed_Payment:

[10.0, 12.0, 12.0, 13.0, 12.0, 12.0, 11.0, 12.0, 12.0, 12.0, 11.0, 12.0]
[19.0, 19.0, 19.0, 19.0, 19.0, 21.0, 20.0, 19.0, 19.0, 18.0, 19.0, 20.0]
[11.0, 11.0, 11.0, 11.0, 11.0, 11.0, 11.0, 13.0, 12.0, 11.0, 13.0, 11.0]
[18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 20.0, 18.0, 18.0, 18.0, 18.0, 18.0]
[17.0, 16.0, 14.0, 14.0, 17.0, 14.0, 11.0, 14.0, 14.0, 14.0, 17.0, 12.0]

In [18]:
df[df['Monthly_Balance']<0]['Customer_ID'].unique()

array([39045, 23184, 10381, 34281, 11127,  9905, 49262, 22515, 16831,
       12158, 17273, 17553, 27806, 44732, 20713])

In [19]:
df[df['Customer_ID']==23184]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
26176,44898,23184,1,Scuffhamq,45.0,264531943.0,Engineer,29728.31,2551.359167,3.0,...,Good,917.0,36.718433,380.0,No,34.496445,103.349985,High_spent_Medium_value_payments,3.672895e+02,Standard
26177,44899,23184,2,Scuffhamq,45.0,264531943.0,Engineer,29728.31,2551.359167,3.0,...,Good,917.0,38.198076,381.0,No,34.496445,198.611513,Low_spent_Large_value_payments,-3.333333e+26,Good
26178,44900,23184,3,Scuffhamq,45.0,264531943.0,Engineer,29728.31,2551.359167,3.0,...,Good,917.0,29.586631,382.0,No,34.496445,211.196133,Low_spent_Small_value_payments,2.994433e+02,Good
26179,44901,23184,4,Scuffhamq,45.0,264531943.0,Engineer,29728.31,2551.359167,3.0,...,Good,917.0,33.256569,383.0,No,34.496445,10000.000000,Low_spent_Small_value_payments,2.697455e+02,Good
26180,44902,23184,5,Scuffhamq,45.0,264531943.0,Engineer,29728.31,2551.359167,3.0,...,Good,917.0,29.891666,384.0,No,34.496445,27.408165,High_spent_Medium_value_payments,4.432313e+02,Good
26181,44903,23184,6,Scuffhamq,45.0,264531943.0,Engineer,29728.31,2551.359167,3.0,...,Good,917.0,40.523081,385.0,No,34.496445,81.238820,Low_spent_Medium_value_payments,4.194007e+02,Good
26182,44904,23184,7,Scuffhamq,45.0,264531943.0,Engineer,29728.31,2551.359167,3.0,...,Good,917.0,39.310459,386.0,No,34.496445,203.985506,Low_spent_Medium_value_payments,2.966540e+02,Standard
26183,44905,23184,8,Scuffhamq,46.0,264531943.0,Engineer,29728.31,2551.359167,3.0,...,Good,917.0,37.958950,387.0,No,34.496445,268.713564,Low_spent_Small_value_payments,2.419259e+02,Good
113088,44906,23184,9,Scuffhamq,46.0,264531943.0,Engineer,29728.31,2551.359167,3.0,...,Good,917.0,36.353540,388.0,No,34.496445,47.255861,High_spent_Large_value_payments,4.133836e+02,NaN
113089,44907,23184,10,Scuffhamq,46.0,264531943.0,Engineer,29728.31,2551.359167,3.0,...,Good,917.0,36.194359,389.0,No,34.496445,24.033229,High_spent_Large_value_payments,4.366062e+02,NaN
113090,44908,23184,11,Scuffhamq,46.0,264531943.0,Engineer,29728.31,2551.359167,3.0,...,Good,917.0,38.050303,390.0,No,34.496445,10000.000000,High_spent_Large_value_payments,4.253296e+02,NaN
113091,44909,23184,12,Scuffhamq,46.0,264531943.0,Engineer,29728.31,2551.359167,3.0,...,Good,917.0,32.503700,391.0,No,34.496445,66.100331,Low_spent_Large_value_payments,4.245391e+02,NaN

In [20]:
df.loc[df['Monthly_Balance']<0, 'Monthly_Balance'] = None

In [21]:
Reassign_Group_Numeric_Wrong_Values(df, 'Customer_ID', 'Monthly_Balance')

Existing Min, Max Values:
min       0.007760
max    1183.930696
Name: Monthly_Balance, dtype: float64

Groupby by Customer_ID's Actual min, max Values:
min:	0.0077596647753352,
max:	1183.9306960885192

Before Assigning Min, Max Monthly_Balance: ['No NaN Value']

Before Assigning Example Monthly_Balance:

[310.39167595729333, 295.61432104073225, 333.9600295968694, 309.1977625633686, 323.9664999631732, 334.864456417663, 280.0440966398364, 328.97449591530835, 279.14863869481445, 306.61186979020056, 301.87706575887506, 227.25690402118008]
[323.5550777151861, 309.6085947906515, 265.4874646531188, 291.11606352715245, 245.6189847840633, 239.46481499922072, 334.61958840607645, 275.3861034815317, 279.58867604354555, 318.4767883518287, 260.7342254927612, 307.57591763672826]
[406.62288544232047, 350.39351957834924, 218.30384271186168, 354.63462349002145, 441.30551404075095, 420.04620414440666, 337.6532108572321, 370.2991478574313, 474.5734332336703, 439.0620993738886, 203.58056486748768, 459.8749140303517]
[581.4298200072883, 573.8289754206959, 629.6868701949761, 258.40958026881617, 496.6279595887097, 489.116892501724, 560.1656355533173, 594.7354555975859, 76.14190898842622, 617.6694881667568, 620.1464516152132, 569.1354473142586]
[553.4033169035758, 228.7177301506344, 648.0211241336477, 579.9803108672652, 377.809814440861, 93.23692484012211, 701.3164970145981, 383.8169322946652, 223.62275295079644, 93.23692484012211, 723.1279867193582, 401.2510566903428]

After Assigning  Min, Max Monthly_Balance: ['No NaN Value']

After Assigning Example Monthly_Balance:

[310.39167595729333, 295.61432104073225, 333.9600295968694, 309.1977625633686, 323.9664999631732, 334.864456417663, 280.0440966398364, 328.97449591530835, 279.14863869481445, 306.61186979020056, 301.87706575887506, 227.25690402118008]
[323.5550777151861, 309.6085947906515, 265.4874646531188, 291.11606352715245, 245.6189847840633, 239.46481499922072, 334.61958840607645, 275.3861034815317, 279.58867604354555, 318.4767883518287, 260.7342254927612, 307.57591763672826]
[406.62288544232047, 350.39351957834924, 218.30384271186168, 354.63462349002145, 441.30551404075095, 420.04620414440666, 337.6532108572321, 370.2991478574313, 474.5734332336703, 439.0620993738886, 203.58056486748768, 459.8749140303517]
[581.4298200072883, 573.8289754206959, 629.6868701949761, 258.40958026881617, 496.6279595887097, 489.116892501724, 560.1656355533173, 594.7354555975859, 76.14190898842622, 617.6694881667568, 620.1464516152132, 569.1354473142586]
[553.4033169035758, 228.7177301506344, 648.0211241336477, 579.9803108672652, 377.809814440861, 93.23692484012211, 701.3164970145981, 383.8169322946652, 223.62275295079644, 93.23692484012211, 723.1279867193582, 401.2510566903428]

In [22]:
df[df['Amount_invested_monthly']>=10000]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
18,5660,11708,3,Langep,34.0,486853974.0,Engineer,143162.64,12187.220000,1.0,...,Good,1303.01,26.519815,215.0,No,246.992319,10000.0,High_spent_Small_value_payments,715.741367,Good
23,5665,11708,8,Langep,34.0,486853974.0,Engineer,143162.64,12187.220000,1.0,...,Good,1303.01,38.374753,220.0,No,246.992319,10000.0,High_spent_Small_value_payments,895.494583,Standard
28,5674,47249,5,Jasond,55.0,72316145.0,Entrepreneur,30689.89,2612.490833,2.0,...,Good,632.46,41.154317,211.0,No,16.415452,10000.0,Low_spent_Large_value_payments,359.374916,Standard
121,5815,13266,2,Chalmersa,30.0,965462491.0,Scientist,31993.78,2942.148333,6.0,...,Standard,818.22,37.958569,203.0,Yes,45.141298,10000.0,Low_spent_Small_value_payments,157.869804,Standard
142,5844,4059,7,Patrickg,46.0,928914452.0,Teacher,32284.62,2898.385000,6.0,...,Standard,1283.37,24.205533,83.0,Yes,103.037560,10000.0,Low_spent_Small_value_payments,85.902095,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149942,155464,18426,11,Yantoultra Nguif,32.0,291517240.0,Mechanic,64511.34,5440.945000,7.0,...,Standard,330.60,31.083920,284.0,Yes,0.000000,10000.0,High_spent_Large_value_payments,658.261080,NaN
149945,155475,35242,10,Kwokw,39.0,18637005.0,Manager,85744.12,7125.343333,6.0,...,Standard,717.79,39.847437,192.0,Yes,72.099176,10000.0,Low_spent_Small_value_payments,421.112538,NaN
149952,155498,41043,9,t Astridn,39.0,94815856.0,Writer,87695.34,7337.945000,2.0,...,Good,361.68,37.329252,237.0,No,0.000000,10000.0,High_spent_Large_value_payments,859.006805,NaN
149989,155607,44897,10,Chris Wickhamm,50.0,133167738.0,Writer,37188.10,3097.008333,1.0,...,Good,620.64,23.986021,366.0,No,84.205949,10000.0,Low_spent_Large_value_payments,270.754039,NaN
149997,155631,37932,10,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,36.858542,384.0,No,35.104023,10000.0,Low_spent_Large_value_payments,349.726332,NaN

In [23]:
df[df['Amount_invested_monthly']>=10000]['Customer_ID'].unique()

array([11708, 47249, 13266, ..., 41043, 44897, 37932])

In [24]:
df[df['Customer_ID']==44897]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
99976,155598,44897,1,Chris Wickhamm,49.0,133167738.0,Writer,37188.1,3097.008333,1.0,...,Good,620.64,39.080823,357.0,No,84.205949,223.875018,Low_spent_Small_value_payments,291.619866,Good
99977,155599,44897,2,Chris Wickhamm,49.0,133167738.0,Writer,37188.1,3097.008333,1.0,...,Good,620.64,32.803431,358.0,No,84.205949,70.869970,High_spent_Large_value_payments,394.624914,Good
99978,155600,44897,3,Chris Wickhamm,49.0,133167738.0,Writer,37188.1,3097.008333,1.0,...,Good,620.64,24.540510,359.0,No,84.205949,125.956592,Low_spent_Medium_value_payments,379.538292,Good
99979,155601,44897,4,Chris Wickhamm,49.0,133167738.0,Writer,37188.1,3097.008333,1.0,...,Good,620.64,36.979007,360.0,NM,84.205949,215.486386,Low_spent_Small_value_payments,300.008498,Good
99980,155602,44897,5,Chris Wickhamm,49.0,133167738.0,Writer,37188.1,3097.008333,1.0,...,Good,620.64,27.495263,361.0,No,84.205949,78.497727,Low_spent_Small_value_payments,396.997157,Standard
99981,155603,44897,6,Chris Wickhamm,50.0,133167738.0,Writer,37188.1,3097.008333,1.0,...,Good,620.64,37.753013,362.0,NM,84.205949,147.339908,Low_spent_Small_value_payments,368.154976,Good
99982,155604,44897,7,Chris Wickhamm,50.0,133167738.0,Writer,37188.1,3097.008333,1.0,...,Good,620.64,38.850680,363.0,No,84.205949,82.825572,Low_spent_Small_value_payments,412.669312,Good
99983,155605,44897,8,Chris Wickhamm,50.0,133167738.0,Writer,37188.1,3097.008333,1.0,...,Good,620.64,39.300980,364.0,No,84.205949,42.935566,High_spent_Medium_value_payments,432.559318,Good
149988,155606,44897,9,Chris Wickhamm,50.0,133167738.0,Writer,37188.1,3097.008333,1.0,...,Good,620.64,32.740865,365.0,No,84.205949,165.115322,Low_spent_Small_value_payments,350.379562,NaN
149989,155607,44897,10,Chris Wickhamm,50.0,133167738.0,Writer,37188.1,3097.008333,1.0,...,Good,620.64,23.986021,366.0,No,84.205949,10000.000000,Low_spent_Large_value_payments,270.754039,NaN
149990,155608,44897,11,Chris Wickhamm,50.0,133167738.0,Writer,37188.1,3097.008333,1.0,...,Good,620.64,25.708414,367.0,No,84.205949,183.365628,Low_spent_Large_value_payments,312.129256,NaN
149991,155609,44897,12,Chris Wickhamm,50.0,133167738.0,Writer,37188.1,3097.008333,1.0,...,Good,620.64,36.498383,368.0,No,84.205949,238.399383,Low_spent_Large_value_payments,257.095501,NaN

In [25]:
df['Amount_invested_monthly'] = df.groupby('Customer_ID')['Amount_invested_monthly'].transform(lambda x: x.mode()[0] if not x.mode().empty else np.NaN)

In [26]:
df[df['Credit_Score'].notna()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  int64
 1   Customer_ID               100000 non-null  int64
 2   Month                     100000 non-null  int64
 3   Name                      100000 non-null  object
 4   Age                       100000 non-null  float64
 5   SSN                       100000 non-null  float64
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  float64
 8   Monthly_Inhand_Salary     100000 non-null  float64
 9   Num_Bank_Accounts         100000 non-null  float64
 10  Num_Credit_Card           100000 non-null  float64
 11  Interest_Rate             100000 non-null  float64
 12  Num_of_Loan               100000 non-null  float64
 13  Type_of_Loan              100000 non-null  object
 14  Delay_from_due_date       100000 non-null  float64
 15  Num_of_Delayed_Payment    100000 non-null  float64
 16  Changed_Credit_Limit      100000 non-null  float64
 17  Num_Credit_Inquiries      100000 non-null  float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  float64
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        100000 non-null  float64
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   100000 non-null  float64
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           100000 non-null  float64
 27  Credit_Score              100000 non-null  object
dtypes: float64(18), int64(3), object(7)
memory usage: 22.1+ MB

In [27]:
df[df['Credit_Score'].notna()].to_csv("train.csv", index=False)

In [28]:
df[df['Credit_Score'].isna()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 100000 to 149999
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  int64
 1   Customer_ID               50000 non-null  int64
 2   Month                     50000 non-null  int64
 3   Name                      50000 non-null  object
 4   Age                       50000 non-null  float64
 5   SSN                       50000 non-null  float64
 6   Occupation                50000 non-null  object
 7   Annual_Income             50000 non-null  float64
 8   Monthly_Inhand_Salary     50000 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  float64
 10  Num_Credit_Card           50000 non-null  float64
 11  Interest_Rate             50000 non-null  float64
 12  Num_of_Loan               50000 non-null  float64
 13  Type_of_Loan              50000 non-null  object
 14  Delay_from_due_date       50000 non-null  float64
 15  Num_of_Delayed_Payment    50000 non-null  float64
 16  Changed_Credit_Limit      50000 non-null  float64
 17  Num_Credit_Inquiries      50000 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          50000 non-null  float64
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        50000 non-null  float64
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   50000 non-null  float64
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           50000 non-null  float64
 27  Credit_Score              0 non-null      object
dtypes: float64(18), int64(3), object(7)
memory usage: 11.1+ MB

In [29]:
df[df['Credit_Score'].isna()].drop(columns='Credit_Score').to_csv("test.csv", index=False)